@import "../../components/Board/InfoCard/InfoCard.css";
@import "../../components/Board/Carousel/Carousel.css";

.board {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    width: 80vw;
    margin: 0 auto;
    background: white;
    border-radius: 1vh;
    box-shadow: 0 0 1vw rgba(0,0,0,0.2);
    padding: 2vw 2vw 1vw 2vw;
}

.board--inner {
    display: flex;
    width: 100%;
}

.board--inner--left-side {
    width: 75%;
    height: 100%;
}

.board--inner--right-side {
    width: 25%;
    height: 100%;
}

.board--title__product-id {
    font-size: 2vh;
    margin: 0;
}

.board--title__product-name {
    font-size: 4vh;
    margin: 0;
    line-height: 42px;
}
