<div class="board">
    <div class="board-title">
        <p class="board-title__product-id">№ {{__id}}</p>
        <p class="board-title__product-name">{{__name}}</p>
    </div>
    <div class="board-inner" id="board">
        <div class="board-left" id="board-left-side"></div>
        <div class="board-right" id="board-right-side"></div>
    </div>
</div>