@import "../../scss/main.scss";

.board {
  font-style: normal;
  font-weight: normal;
  @include shadow-block;
  padding: 2vw 2vw 1vw 2vw;
  margin: 1.5vw auto 0;

  &-inner {
    display: flex;
    width: 100%;
  }

  &-left {
    width: 75%;
  }

  &-right {
    width: 25%;
  }

  &-title__product-id {
    font-size: 2vh;
    margin: 0;
  }

  &-title__product-name {
    font-size: 4vh;
    margin: 0;
  }
}

.same-product {
  font-style: normal;
  font-weight: normal;
  width: 76vw;
  font-size: 2vw;
  border-radius: 1vh;
  margin: 1vw auto;
}
