<div class="board">
    <div class="board-title">
        <p class="board-title__product-id">№ {{id}}</p>
        <p class="board-title__product-name">{{title}}</p>
    </div>
    <div class="board-inner">
        <div class="board-left" id="board-left-side"></div>
        <div class="board-right" id="board-right-side"></div>
    </div>
</div>