@import "../../components/Board/InfoCard/InfoCard.css";

.board {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    width: 80vw;
    margin: 0 auto;
    background: white;
    border-radius: 1vh;
    box-shadow: 0 0 1vw rgba(0,0,0,0.2);
    padding: 1vw;
}

.board--inner {
    display: flex;
    width: 100%;
}

.board--inner--left-side {
    width: 80%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

.board--inner--right-side {
    width: 20%;
    height: 100%;
}

.board--title__product-id {
    font-size: 2vh;
    margin: 0;
}

.board--title__product-name {
    font-size: 4vh;
    margin: 0;
    line-height: 42px;
}
