@import "../../scss/main.scss";

.board {
  font-style: normal;
  font-weight: normal;
  @include shadow-block;
  padding: 2vh;
  margin: 1.5vw auto 3vh;

  @media screen and (max-width: $breakDesktop) {
    padding: 0 1.5vh;
  }

  &-inner {
    display: flex;
    width: 100%;
  }

  &-left {
    width: 75%;

    @media screen and (max-width: $breakDesktop) {
      width: 65%;
    }
    @media screen and (max-width: $breakMobile) {
      width: 100%;
    }
  }

  &-right {
    width: 25%;
    @media screen and (max-width: $breakDesktop) {
      width: 35%;
    }

    @media screen and (max-width: $breakMobile) {
      display: none;
    }
  }

  &-title__product-id {
    font-size: 2vh;
    margin: 0;
  }

  &-title__product-name {
    font-size: 4vh;
    margin: 0;

    @media screen and (max-width: $breakMobile) {
      display: none;
    }
  }

  &-map {
    @include themify($themes){
      filter: themed('mapTheme');
    }
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vw 2vw 1vw 1vw;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.same-product {
  font-style: normal;
  font-weight: normal;
  width: 76vw;
  font-size: 2vw;
  border-radius: 1vh;
  margin: 1vw auto;
}
