<div class="comments">
    <div class="comments-block">
        <div class="comments-block-inner">
            <div class="comments-block-title">
                <span class="comments-block-title__text">О продавце</span>
                <div class="comments-block-title-sort">
                    Сортировать по:
                    <label class="comments-block-title-sort__label" for="comments-seller-date" data-action="sortSellerByDate">
                        <input class="comments-block-title-sort__button" type="radio" value="date" id="comments-seller-date"
                           name="sort-seller">
                        дате
                    </label>
                    <label class="comments-block-title-sort__label" for="comments-seller-rate" data-action="sortSellerByRate">
                        <input class="comments-block-title-sort__button" type="radio" value="rate" id="comments-seller-rate"
                           name="sort-seller">
                        рейтингу
                    </label>
                </div>
            </div>
            <div class="separator"></div>
            <div class="comments-block-content"></div>
        </div>
    </div>
    <div class="comments-block">
        <div class="comments-block-inner">
            <div class="comments-block-title">
                <span class="comments-block-title__text">О покупателе</span>
                <div class="comments-block-title-sort">
                    Сортировать по:
                    <label class="comments-block-title-sort__label" for="comments-buyer-date" data-action="sortBuyerByDate">
                        <input class="comments-block-title-sort__button" type="radio" value="date" id="comments-buyer-date"
                           name="sort-buyer">
                        дате
                    </label>
                    <label class="comments-block-title-sort__label" for="comments-buyer-rate" data-action="sortBuyerByRate">
                        <input class="comments-block-title-sort__button" type="radio" value="rate" id="comments-buyer-rate"
                           name="sort-buyer">
                        рейтингу
                    </label>
                </div>
            </div>
            <div class="separator"></div>
            <div class="comments-block-content">

            </div>
        </div>
    </div>
</div>