<div class="info-text">
    <div class="info-text-inner">

        {{#if title}}
            <span class="info-text-inner__title">{{title}}</span>
        {{/if}}

        {{#if text}}
            <span class="info-text-inner__text">{{text}}</span>
        {{/if}}

    </div>
</div>