@import "../../../scss/style.scss";

.one-review {

  &-inner {
    padding: 1vh;
  }

  &-head {
    width: 100%;

    margin-bottom: 1vh;

    &-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-avatars {
      margin-right: 1vh;
      position: relative;

      display: flex;
      align-items: center;

      &__product {
        @include set-size(5vh, 5vh);
        object-fit: cover;
        border-radius: 8px;
      }

      &__user {
        position: absolute;
        top: -0.5vh;
        left: -0.5vh;

        @include set-size(2vh, 2vh);
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
        @include circle;
        object-fit: cover;

        border: 2px solid white;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;

      @include overflow-text-width;

      &__user {
        font-size: 2vh;
        color: $textColorDefault;
      }

      &__product {
        font-size: 1.5vh;
        color: $mainColor;
      }
    }

    &-stat {
      margin-left: auto;
      width: 12vh;

      display: flex;
      flex-direction: column;

      &__rate span {
        font-size: 2vh;

        color: lightgrey;
      }

      &__rate > span:before {
        content: '★';
      }

      &__rate > span.star-active {
        color: gold;
      }

      &__date {
        margin-left: auto;

        font-size: 1.3vh;
        color: $textGrayColor
      }
    }
  }

  &-content {
    margin-bottom: 1vh;

    @include set-size(calc(100% - 10vh), 6.5vh);
    overflow: hidden;

    &:hover {
      height: auto;
      cursor: pointer;
    }

    &__text {
      font-family: Roboto-Thin, sans-serif;
      line-height: 2.3vh;
    }
  }

  &__separator {
    @include separator;
    margin-bottom: 0;
  }
}
