@import "../../../scss/style.scss";

.one-review {

  &-inner {
    padding: 1vh;
  }

  &-head {
    width: 100%;

    margin-bottom: 1vh;

    &-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-avatars {
      margin-right: 1vh;
      margin-left: 1vh;
      position: relative;

      display: flex;
      align-items: center;

      &__product {
        @include set-size(5vh, 5vh);
        object-fit: cover;
        border-radius: 8px;
      }

      &__user {
        position: absolute;
        top: -0.5vh;
        left: -0.5vh;

        @include set-size(2vh, 2vh);
        box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
        @include circle;
        object-fit: cover;

        border: 2px solid white;
      }
    }

    &-info {
      width: calc(100% - 20vh);

      display: flex;
      flex-direction: column;

      &__user {
        @include overflow-text-width;
        text-decoration: none;
        cursor: pointer;

        font-size: 2vh;
        @include themify($themes) {
          color: themed('textColorDefault');
        }
      }

      &__product {
        @include overflow-text-width;
        text-decoration: none;
        cursor: pointer;

        font-size: 1.5vh;
        @include themify($themes) {
          color: themed('mainColor');
        }
      }
    }

    &-stat {
      @include star;

      margin-left: auto;
      width: 12vh;

      display: flex;
      flex-direction: column;

      &__rate {
        margin-left: auto;
      }

      &__date {
        margin-left: auto;

        font-size: 1.3vh;
        @include themify($themes) {
          color: themed('textGrayColor');
        }
      }
    }
  }

  &-content {
    margin-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 3vh;

    display: flex;
    flex-direction: column;

    &__text {
      max-height: 7vh;
      overflow: hidden;

      font-family: Roboto-Thin, sans-serif;
      line-height: 2.3vh;

      &_show {
        max-height: max-content;
      }
    }

    &__more {
      margin-left: auto;
      display: none;

      @include themify($themes) {
        color: themed('textGrayColor');
      }
      font-size: 1.5vh;

      &:hover {
        cursor: pointer;
      }

      &_active {
        display: block;
      }
    }
  }

  &__separator {
    @include separator;
    margin-bottom: 0;
  }
}
