$breakDesktop: 1024px;
$breakTablet: 768px;
$breakMobile: 576px;

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

$themes: (
        light: (
                backgroundColor: #ffffff,
                blockBackground: #ffffff,
                borderColor: #d0d0d0,
                borderBlock: rgba(0, 0, 0, 0.2),
                hoverGrayColor: rgb(229, 227, 227),
                textColorDefault: #000000,
                textGrayColor: rgb(122, 122, 122),
                linkColor: rgb(112, 146, 254),
                mainColor: rgb(211, 30, 30),
                errorBlockColor: #ffffff,
                errorBorderColor: #ffffff,
                svgFilter: none,
                logoPath: url(../../../img/svg/koya.svg),
                inputBackground: #ffffff,
                labelColor: #909090,
                mainPicture: rgba(31, 47, 47, 0.8),
                dropdownColor: #ffffff,
                lightButton: snow,
                mapTheme: none,
                selectUrl: url(../../../img/svg/selectDark.svg),
                placeHolderColor: #909090,
                addPhotoSvg: url(../../../img/svg/photo.svg),
                oneChatBackground: rgb(255, 230, 230),
                scrollbarBackground: #f9f9fd,
                scrollbarTrack: #cecece,
                themeIcon: url(../../../img/svg/sun.svg),
                pageup: #ECECEC
        ),
        dark: (
                backgroundColor: #121212,
                blockBackground: #252525,
                borderColor: #232323,
                borderBlock: rgba(255, 255, 255, 0.2),
                hoverGrayColor: #333333,
                textColorDefault: #e3e3e3,
                textGrayColor: rgb(122, 122, 122),
                linkColor: rgb(112, 146, 254),
                mainColor: rgb(211, 30, 30),
                errorBlockColor: #1d1d1d,
                errorBorderColor: #484848,
                svgFilter: brightness(100) invert(1),
                logoPath: url(../../../img/svg/koyaLight.svg),
                inputBackground: #171616,
                labelColor: #cccaca,
                mainPicture: rgba(31, 47, 47, 0.5),
                dropdownColor: #171717,
                lightButton: #2f2f2f,
                mapTheme: invert(1) hue-rotate(180deg),
                selectUrl: url(../../../img/svg/selectLight.svg),
                placeHolderColor: #c1c1c1,
                addPhotoSvg: url(../../../img/svg/photoLight.svg),
                oneChatBackground: #444444,
                scrollbarBackground: #5e5e5e,
                scrollbarTrack: #3e3e3e,
                themeIcon: url(../../../img/svg/moon.svg),
                pageup: #252525
        ),
);

@mixin overflow-text-width {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin overflow-text-height($h) {
  max-height: $h;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin red-button($w, $h) {
  height: $h;
  width: $w;
  border: 0;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.5vh;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 255, 255);

  @include themify($themes) {
    background-color: themed('mainColor');
  }
  outline: none;
  &:hover {
    background-color: rgb(194, 23, 23);
  }
  &:focus {
    outline: none;
  }
  @media screen and (max-width: $breakMobile) {
    font-size: 2vh;
    height: 4.5vh;
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 10px;

    @include themify($themes) {
      background-color: themed('scrollbarBackground');
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;

    @include themify($themes) {
      background-color: themed('scrollbarTrack');
    }
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    @include themify($themes) {
      background-color: themed('scrollbarBackground');
    }
  }
}

@mixin disable-button($w, $h) {
  width: $w;
  height: $h;
  border: 1px solid;
  @include themify($themes) {
    border-color: themed('borderColor');
  }
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.5vh;
  text-align: center;
  color: #666666;
  background-color: rgb(255, 255, 255);;
  outline: none;
}

@mixin cancel-button($w, $h) {
  height: $h;
  width: $w;
  border: 0;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.5vh;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #747474;
  outline: none;
  &:hover {
    background-color: #636363;
  }
  &:focus {
    outline: none;
  }
  @media screen and (max-width: $breakMobile) {
    font-size: 2vh;
    height: 4.5vh;
  }
}

@mixin white-button($w, $h) {
  height: $h;
  width: $w;
  border: 1px solid;
  @include themify($themes) {
    border-color: themed('borderColor');
  }
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.5vh;
  text-align: center;
  cursor: pointer;

  @include themify($themes) {
    color: themed('textColorDefault');
  }
  @include themify($themes) {
    background-color: themed('lightButton');
  }
  outline: none;
  &:hover {
    @include themify($themes) {
      background-color: themed('hoverGrayColor');
    }
  }
  &:focus {
    outline: none;
  }
  @media screen and (max-width: $breakMobile) {
    font-size: 2vh;
    height: 4.5vh;
  }
}

@mixin menu-link() {
  text-decoration: none;

  @include themify($themes) {
    color: themed('textColorDefault');
  }
  cursor: pointer;
  font-size: 1.6vh;
  &:hover {
    @include themify($themes) {
      color: themed('linkColor');
    }
  }
  &:focus {
    @include themify($themes) {
      color: themed('linkColor');
    }
  }
  @media screen and (max-width: $breakMobile) {
    font-size: 2vh;
  }
}

@mixin calendar() {
  &::-webkit-calendar-picker-indicator {
    @include themify($themes) {
      filter: themed('svgFilter');
    }
  }
}

@mixin input() {
  height: 4vh;
  font-size: 2vh;
  @include calendar;
  @include themify($themes) {
    color: themed('textColorDefault');
  }
  @include themify($themes) {
    background-color: themed('inputBackground');
  }
  border: 1px solid;
  @include themify($themes) {
    border-color: themed('borderColor');
  }
  box-sizing: border-box;
  border-radius: 0.5vh;
  padding-left: 10px;
  @media screen and (max-width: $breakMobile) {
    height: 5vh;
    font-size: 2.3vh;
  }
  &::placeholder {
    @include themify($themes) {
      color: themed('placeHolderColor');
    }
  }
}

@mixin description-label() {
  display: flex;
  font-size: 1.8vh;
  @include themify($themes) {
    color: themed('labelColor');
  }
  @media screen and (max-width: $breakMobile) {
    font-size: 2vh;
  }
}

@mixin block() {
  @include themify($themes) {
    background-color: themed('blockBackground');
  }
  border: 0;
  border-radius: 1vh;
}

@mixin border-block() {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid;
  @include themify($themes) {
    border-color: themed('borderBlock');
  }
}

@mixin shadow-block() {
  @include themify($themes) {
    background-color: themed('blockBackground');
  }
  border: 0;
  border-radius: 1vh;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
  @media screen and (max-width: $breakMobile) {
    border-radius: 0;
  }
}

@mixin product-block() {
  @include themify($themes) {
    background-color: themed('blockBackground');
  }
  border: 0;
  border-radius: 1vh;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: box-shadow;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  }
}

@mixin circle() {
  object-fit: cover;
  @include themify($themes) {
    background-color: themed('backgroundColor');
  }
  border-radius: 50%;
}

@mixin set-size($w, $h) {
  width: $w;
  height: $h;
}

@mixin separator() {
  border-top: 1px solid rgb(227, 227, 227);
  margin-bottom: 1vh;
}

@mixin message-container() {
  clear: both;
  position: absolute;
  transform: translateX(100%);
  display: flex;
  right: 0;
  top: 0;
  z-index: 1000;
  @media screen and (max-width: $breakDesktop) {
    //top: -150px;
    flex-direction: row-reverse;
    transform: translateY(-111%);
    align-items: flex-end;
  }
  &-arrow {
    width: 12px;
    height: 20px;
    overflow: hidden;
    position: relative;
    float: left;
    top: 6px;
    right: -1px;
    @media screen and (max-width: $breakDesktop) {
      top: 15px;
      right: 150px;
      transform: rotate(270deg);
    }

    &-outer {
      width: 0;
      height: 0;
      border-top: 10px solid transparent !important;
      border-bottom: 10px solid transparent !important;
      border-right: 20px solid;
      @include themify($themes) {
        background-color: themed('errorBorderColor');
      }
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.1;
    }

    &-inner {
      width: 0;
      height: 0;
      border-top: 10px solid transparent !important;
      border-bottom: 10px solid transparent !important;
      border-right: 20px solid #ffffff;
      @include themify($themes) {
        border-color: themed('errorBlockColor');
      }
      position: absolute;
      top: 0;
      left: 2px;
    }
  }
  &-body {
    float: left;
    width: 300px;
    height: auto;
    @include themify($themes) {
      background-color: themed('errorBlockColor');
    }
    border: 1px solid rgba(0.0, 0.0, 0.0, 0.1);
    padding: 6px 8px;
    border-radius: 5px;
    @media screen and (max-width: $breakDesktop) {
      width: 90%;
    }
  }
}

@mixin separator-bottom {
  border-bottom: 1px solid rgb(227, 227, 227);
}

@mixin star() {
  width: 12vh;

  &__rate span {
    font-size: 2vh;

    color: lightgrey;
  }

  &__rate > span:before {
    content: '★';
  }

  &__rate > span.star-active {
    color: gold;
  }
}

@mixin popup($w) {
  @include set-size(100vw, 100vh);
  top: 0;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;

  background-color: rgba(0, 0, 0, 0.5);

  &-content {
    position: relative;
    @include block;
    z-index: 102;

    width: $w;

    @media screen and (max-width: $breakMobile) {
      @include set-size(100vw, 100vh);

      border-radius: 0;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__close {
        @include set-size(2vh, 2vh);

        position: absolute;
        fill: rgb(120, 120, 120);

        top: 1vh;
        right: 1vh;

        &:hover {
          cursor: pointer;
        }

        @media screen and (max-width: $breakMobile) {
          top: 2vh;
          right: 2vh;

          @include set-size(3vh, 3vh);
        }
      }
    }
  }
}

.message-container {
  @include message-container;
}

.error-hidden {
  display: none;
}

.error-visible {
  visibility: visible;
  color: #D31E1E;
  font-size: 1.3vh;
  font-style: italic;
}

.error-success {
  visibility: visible;
  color: green;
  font-size: 1.3vh;
  font-style: italic;
}

.input-susses {
  border: 1px solid green !important;
}

.input-error {
  border: 1px solid red !important;
}

.list-errors {
  font-size: 1.8vh;
  color: #D31E1E;
  @media screen and (max-width: $breakDesktop) {
    padding-left: 30px;
  }
}