@import './main.scss';

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff2);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.woff2);
}

html {
  height: 75%;
}

input[type=submit],
input[type=button],
button {
  appearance: none;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  min-height: 88%;
  @include themify($themes) {
    background: themed('backgroundColor');
  }

  @include themify($themes) {
    color: themed('textColorDefault');
  }

  padding-bottom: 25vh;

  @media screen and (max-width: $breakMobile) {
    padding-bottom: 30vh;
  }
  scrollbar-face-color: orange;

}

//body {
//  //@include themify($themes){
//  //}
//  //outline: 1px solid slategrey;
//}

.overflow-hidden {
  @media screen and (max-width: $breakMobile) {
    overflow: hidden;
  }
}

select:disabled {
  appearance: none;
}

select:enabled {
  appearance: none;
  @include themify($themes) {
    background-image: themed('selectUrl');
  }
  background-position: calc(100% - 2vh) calc(100% + -1.5vh), calc(100% - 3vh) calc(1em + 1.5vh), 100% 0;
  background-size: 10px 10px, 10px 10px;
  background-repeat: no-repeat;
}

select option:hover {
  @include themify($themes) {
    background-color: themed('mainColor');
  }
}