@import "../../scss/main.scss";

.search {
  top: 6vh;
  width: 100%;
  height: max-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  z-index: 0;
  background-image: url(../../img/search-background.webp);

  &-background {
    width: 100%;
    background: rgba(31, 47, 47, 0.8);
    z-index: 2;
    top: 0;
  }

  &-content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 5vw 0;
  }

  &-title {
    font-size: 5vh;
    color: #FFFFFF;
    padding-top: 2vw;
    width: 60vw;
    text-align: center;
  }


  &-line {
    width: 60vw;
    height: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__input {
      width: 40vw;
      height: 4vh;
      font-size: 1.6vh;
      padding-left: 1vh;
      border: 0;
      outline: 0;
    }

    &__button {
      @include red-button(9vh, 4vh);
      margin: 0;
      padding: 0;
      border-radius: 0;
    }
  }

  &-categories {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &-category {
    &-card {
      width: 20vh;
      height: fit-content;
      color: #FFFFFF;
      font-size: 1.5vh;
      position: relative;
      justify-content: space-between;
    }

    &__title {
      font-weight: 600;
      text-align: center;
      margin-bottom: 2vw;

      &:hover {
        color: #eeeeee;
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}