<div class="achievement">
    <div class="achievement-info">
        <div class="achievement-info__title">{{this.title}}</div>
        <div class="achievement-info__des">{{this.description}}</div>
        <div class="achievement-unlcok">
            <img src="/img/svg/achieved.svg" alt="logout" class="achieved">
            <div class="achievement-unlcok-info">
                <span>Разблокировано</span> <br/>
                <span>{{this.date}}</span>
            </div>
        </div>
    </div>
    <div class="achievement-hero">
        <img class="achievement-hero__img" alt="" src="{{this.linkPic}}">
    </div>
</div>