@import "../../scss/main.scss";

.page-up {
  @include set-size(12vh, 100vh);

  top: 0;
  position: fixed;

  transition-duration: 0.5s;
  transition-property: color, background-color;

  &:hover {
    @include themify($themes) {
      color: themed('linkColor');
      background-color: themed('pageup');
    }
  }

  @media screen and (max-width: $breakDesktop) {
    @include set-size(10vh, 100vh);
  }

  @media screen and (max-width: $breakTablet) {
    display: none;
  }

  &__disabled {
    display: none;
  }

  &-inner {
    height: 100%;
    width: 100%;

    margin-top: 9vh;

    display: flex;
    justify-content: center;
  }

  &-button {
    height: fit-content;

    display: flex;
    flex-direction: row;

    align-items: center;

    @media screen and (max-width: $breakDesktop) {
      flex-direction: column;
    }

    &__img {
      @include set-size(2vh, 2vh);
      @include themify($themes) {
        filter: themed('svgFilter');
      }
      margin-right: 0.5vh;
    }

    &__text {
      font-size: 1.5vh;
    }
  }
}