.page-up {
    height: 100vh;
    width: 12vh;

    top: 0;
    position: fixed;

    transition-duration: 0.5s;
    transition-property: color, background-color;
}

.page-up:hover {
    color: rgb(112, 146, 254);
    background-color: #ECECEC;
}

.page-up__disabled {
    display: none;
}

.page-up-inner {
    height: 100%;
    width: 100%;

    margin-top: 9vh;

    display: flex;
    justify-content: center;
}

.page-up-button {
    height: fit-content;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.page-up-button__img {
    height: 2vh;
    width: 2vh;

    margin-right: 0.5vh;
}

.page-up-button__text {
    font-size: 1.5vh;
}
