<div class="page-up page-up__disabled" id="page-up">
    <div class="page-up-inner">
        <div class="page-up-button">
            <img class="page-up-button__img" id="page-up-img" src="/img/svg/page-up.svg" alt="img">
            <span class="page-up-button__text" id="page-up-text">Наверх</span>
        </div>
    </div>
</div>