<div class="chats" id="chats">
    <div class="chats-inner">

        <div class="chats-list" id="chats-content-list"></div>

        <div class="chats-message" id="chats-content-message"></div>

    </div>
</div>