@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf)
}

.profile-left-part {
    width: 19vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    margin-right: 1vw;
    font-family: Roboto, serif;
}

.profile-menu, .profile-main-settings {
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}

.profile-main-settings {
    width: 45vw;
    height: 20vh;

    margin-top: 2vh;
}
.profile-menu {
    width: 17vw;
    height: 40vh;
    justify-content: left;
    padding-bottom: 1vh;
}

.profile-user {
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 16vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.profile-menu__separator {
    border-top: 1px solid rgb(227, 227, 227);
    width: 16vw;
    margin-bottom: 1vh;
}

.profile-user-inner {
    display: flex;
    flex-direction: column;
    width: 13vw;
    height: 3vw;
}

.profile-user-avatar {
    width: 4.5vh;
    height: 4.5vh;
    background: #C4C4C4;
    border-radius: 50%;
}

.profile-user-name, .profile-user-rating {
    font-size: 2vh;
    margin-left: 1vw;
}

.profile-menu-content-item, .profile-settings-content-item{
    height: 5vh;
    padding-left: 0.3vw;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #000000;
    opacity: 0.7;
    font-size: 2vh;
    text-decoration: none;
}

.profile-menu-content-item{
    width: 16vw;
}
.profile-settings-content-item{
    width: 43.8vw;
}

.profile-menu-content-item:hover, .profile-settings-content-item:hover{
    background: #EEEEEE;
    cursor: pointer;
    color: black;
    opacity: 1;
}
