@import "../../scss/main";

.search {
  &-label {
    margin: 1.5vh 0 2.5vh;
    width: 100%;

    @media screen and (max-width: $breakMobile) {
      width: 90%;
      margin: 0 2vh 2vh;
    }

    &__title {
      font-size: 3vh;
    }

    &-text {
      margin-top: 0.6vh;

      font-size: 1.7vh;
      color: rgba(0, 0, 0, 0.8);

      @media screen and (max-width: $breakMobile) {
        font-size: 1.8vh;
      }

      &__map {
        @include themify($themes){
          color: themed('mainColor');
        }

        cursor: pointer;
      }
    }
  }

  &-block {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $breakMobile) {
      flex-direction: column;
    }

    &__search-field {

    }
  }

  &-left {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $breakMobile) {
      flex-direction: column;
    }
  }

  &-radius {
    margin-bottom: 1vh;

    @media screen and (max-width: $breakMobile) {
      @include shadow-block;

      padding: 0 2vh 1vh;
      margin-bottom: 2vh;
    }

    &__title {
      margin-top: 0;

      @media screen and (max-width: $breakMobile) {
        margin-top: revert;
      }
    }

    &-elem {
      margin-bottom: 1vh;

      @media screen and (max-width: $breakMobile) {
        width: 100%;
        margin-bottom: 1.5vh;

        display: flex;
        justify-content: center;
      }

      &__text-field {
        @include set-size(27vh, 4vh);
        @include input;

        font-size: 1.5vh;

        background-color: whitesmoke;

        cursor: pointer;

        &:hover {
          border: 2px solid;
          @include themify($themes){
            border-color: themed('mainColor');
          }
        }

        &:focus {
          outline: none;
        }

        @media screen and (max-width: $breakMobile) {
          @include set-size(100%, 5vh);
        }
      }
    }
  }

  &-filter {
    @media screen and (max-width: $breakMobile) {
      @include shadow-block;

      padding: 0 2vh 1vh;
      margin-bottom: 2vh;
    }

    &__title {
      margin-top: 0;

      @media screen and (max-width: $breakMobile) {
        margin-top: revert;
      }
    }

    &-elem {
      margin-bottom: 1vh;

      @media screen and (max-width: $breakMobile) {
        width: 100%;
        margin-bottom: 1.5vh;

        display: flex;
        justify-content: center;
      }

      &__text-field {
        @include set-size(27vh, 4vh);
        @include input;
        font-size: 1.5vh;

        background-color: whitesmoke;

        &:focus {
          outline: none;
        }

        @media screen and (max-width: $breakMobile) {
          @include set-size(100%, 5vh);
        }
      }

      &__button {
        margin-right: 2vw;
        @include red-button(27vh, 4vh);

        @media screen and (max-width: $breakMobile) {
          @include set-size(100%, 5vh);

          margin-right: 0;
        }
      }
    }

    &-amount {
      display: flex;
      width: 100%;

      &__from {
        @include set-size(14vh, 4vh);
        @include input;
        font-size: 1.5vh;

        border-radius: 0.5vh 0 0 0.5vh;
        background-color: whitesmoke;

        @media screen and (max-width: $breakMobile) {
          @include set-size(50%, 5vh);
        }
      }

      &__to {
        @include set-size(13vh, 4vh);
        @include input;
        font-size: 1.5vh;

        border-radius: 0 0.5vh 0.5vh 0;
        background-color: whitesmoke;

        @media screen and (max-width: $breakMobile) {
          @include set-size(50%, 5vh);
        }
      }
    }
  }

  &-items {
    width: 100%;

    &-bar {
      display: flex;

      @media screen and (max-width: $breakMobile) {
        @include shadow-block;
        justify-content: center;
        padding: 2vh;

        //position: fixed;
        //top: 0;
        //margin-top: 7vh;
        //z-index: 1;
      }

      &__text-field {
        @include set-size(90%, 4vh);
        @include input;
        margin-right: 1vh;

        background-color: whitesmoke;

        @media screen and (max-width: $breakMobile) {
          @include set-size(75%, 5vh);
          padding-left: 5px;
        }
      }

      &__button {
        @include red-button(10vh, 4vh);

        @media screen and (max-width: $breakMobile) {
          @include set-size(25%, 5vh);
        }
      }

      &-product {
        @include themify($themes){
          color: themed('textGrayColor');
        }
      }
    }

    &__sort {
      @include set-size(20vh, 4vh);
      @include themify($themes){
        color: themed('textColorDefault');
      }
      @include themify($themes){
        background-color: themed('backgroundColor');
      }
      padding: 3px 0;
      border: 0;

      &:focus {
        outline: none;
      }

      @media screen and (max-width: $breakMobile) {
        margin: 1vh;

        @include set-size(20vh, 4vh);
      }
    }

    &__separator {
      @include separator;

      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    &-product {
    }
  }
}
