@import "../../scss/main";

.search {
  &-label {
    margin: 1.5vh 0;
    width: 100%;

    @media screen and (max-width: 1024px){
      padding-left: 2vw;
      padding-right: 2vw;
    }

    &__title {
      font-size: 3vh;
    }

    &-text {
      margin-top: 0.6vh;

      font-size: 1.7vh;
      color: rgba(0, 0, 0, 0.8);

      &__map {
        color: $mainColor;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-block {
    display: flex;

    @media screen and (max-width: 1024px){
      flex-direction: column;
    }
    &__search-field {

    }
  }

  &-filter {
    @media screen and (max-width: 1024px){
      @include shadow-block;
      padding: 0 2vw 1vh;
      margin-bottom: 2vh;
    }

    &-elem {
      height: 5vh;
      @media screen and (max-width: 1024px){
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 1.5vh;
      }
      &__text-field {
        @include set-size(27vh, 4vh);
        @include input;
        font-size: 1.5vh;

        background-color: whitesmoke;

        @media screen and (max-width: 1024px){
          width: 90%;
        }
        &:focus {
          outline: none;
        }
      }

      &__button {
        margin-right: 2vw;
        @include red-button(27vh, 4vh);
      }
    }

    &-amount {
      display: flex;

      @media screen and (max-width: 1024px){
        width: 100%;
        justify-content: center;
      }
      &__from {
        @include set-size(14vh, 4vh);
        @include input;
        font-size: 1.5vh;

        border-radius: 0.5vh 0 0 0.5vh;
        background-color: whitesmoke;
        @media screen and (max-width: 1024px){
          width: 45%;
        }
      }

      &__to {
        @include set-size(13vh, 4vh);
        @include input;
        font-size: 1.5vh;

        border-radius: 0 0.5vh 0.5vh 0;
        background-color: whitesmoke;
        @media screen and (max-width: 1024px){
          width: 45%;
        }
      }
    }
  }

  &-items {
    width: 100%;

    &-bar {
      display: flex;
      width: 100%;

      @media screen and (max-width: 1024px){
        @include shadow-block;
        justify-content: center;
        padding: 2vh 1vw;
        width: 97.5%;
      }

      @media screen and (max-width: 578px){
        width: 96%;
      }

      &__text-field {
        @include set-size(90%, 4vh);
        @include input;
        margin-right: 1vh;

        background-color: whitesmoke;

        @media screen and (max-width: 1024px){
          margin-right: 0.3vh;
        }
      }

      &__button {
        @include red-button(10vh, 4vh);
      }
    }

    &__sort {
      @include set-size(20vh, 4vh);
      background: rgba(0, 0, 0, 0.0);
      border: 0;

      @media screen and (max-width: 1024px){
        margin-top: 2vh;
        width: 30%;
        height: 4vh;
        margin-bottom: 1vh;
      }

      @media screen and (max-width: 500px){
        width: 60%;
      }

      &:focus {
        outline: none;
      }
      @media screen and (max-width: 1024px){
        margin-left: 2vw;
      }
    }

    &__separator {
      @include separator;

      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    &-product {
    }
  }
}
