@import "../../../scss/main.scss";

.review-user {
  @include popup(40vh);

  &-content {
    @media screen and (max-width: $breakMobile) {
      display: flex;
      justify-content: center;
    }

    &-inner {
      margin: 2vh;
      &__close {
        @include themify($themes) {
          filter: themed('svgFilter');
        }
      }

      @media screen and (max-width: $breakMobile) {
        width: 80%;
      }

      &-head {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;

        &__back {
          margin-right: 1vh;
          @include themify($themes) {
            filter: themed('svgFilter');
          }
          cursor: pointer;
          @include set-size(2vh, 2vh);
        }

        &__avatar {
          margin-right: 1vh;

          @include set-size(4vh, 4vh);
          @include circle;
        }

        &__user {
          font-size: 2vh;

          @media screen and (max-width: $breakMobile) {
            font-size: 2.5vh;
          }
        }
      }

      &-body {
        width: 100%;
        margin-top: 1vh;

        display: flex;
        flex-direction: column;

        &__info {
          font-size: 1.5vh;
          @include themify($themes) {
            color: themed('textGrayColor');
          }

          @media screen and (max-width: $breakMobile) {
            font-size: 2vh;
          }
        }

        &__error {
          @include set-size(100%, 2vh);

          font-size: 1.5vh;
          font-style: italic;
          color: rgb(170, 0, 0);

          @include overflow-text-width;

          @media screen and (max-width: $breakMobile) {
            font-size: 2vh;
            @include set-size(100%, 3vh);
          }
        }

        &-review {
          &-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &__text {
              font-size: 1.5vh;

              @media screen and (max-width: $breakMobile) {
                font-size: 2vh;
              }
            }

            &__start {
              overflow: hidden;
              width: 265px;
              margin: 0 auto;
            }
          }

          &__text {
            margin-top: 1vh;
            padding: 1vh;

            @include input;
            @include set-size(100%, 8vh);

            resize: none;

            font-size: 1.5vh;

            @media screen and (max-width: $breakMobile) {
              font-size: 2vh;
              @include set-size(100%, 8vh);
            }
          }
        }

        &-button {
          margin-top: 2vh;
          width: 100%;

          display: flex;
          justify-content: space-between;

          &__skip {
            @include white-button(49%, 4vh);
          }

          &__review {
            @include red-button(49%, 4vh);
          }
        }
      }
    }
  }
}

.review-user-content-inner-body-review-info__star:not(:checked) > input {
  display: none;
}

.review-user-content-inner-body-review-info__star:not(:checked) > label {
  margin-left: 0.5vh;
  padding: 0;

  float: right;
  cursor: pointer;
  font-size: 2vh;
  color: rgb(220, 220, 220);

  @media screen and (max-width: $breakMobile) {
    font-size: 2.5vh;
  }
}

.review-user-content-inner-body-review-info__star:not(:checked) > label:before {
  content: '★';
}

.review-user-content-inner-body-review-info__star > input:checked ~ label {
  color: gold;
}

.review-user-content-inner-body-review-info__star:not(:checked) > label:hover,
.review-user-content-inner-body-review-info__star:not(:checked) > label:hover ~ label {
  color: gold;
}

.review-user-content-inner-body-review-info__star > input:checked + label:hover,
.review-user-content-inner-body-review-info__star > input:checked + label:hover ~ label,
.review-user-content-inner-body-review-info__star > input:checked ~ label:hover,
.review-user-content-inner-body-review-info__star > input:checked ~ label:hover ~ label,
.review-user-content-inner-body-review-info__star > label:hover ~ input:checked ~ label {
  color: gold;
}

.review-user-content-inner-body-review-info__star > label:active {
  position: relative;
}