@import "../../../scss/main.scss";

.chat-message {
  @include set-size(100%, 60vh);

  &-inner {
    @include set-size(100%, 100%);

    display: flex;
    flex-direction: column;
  }

  &-head {
    height: fit-content;

    border-bottom: 1px solid rgb(227, 227, 227);

    &-inner {
      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 0.5vh 1.5vh;
    }

    &-avatar {
      display: flex;
      margin-right: 1vh;

      &__href {
        display: flex;
        appearance: none;
      }

      &__img {
        @include set-size(6vh, 6vh);
        @include circle;
      }
    }

    &-info {
      width: calc(100% - 7vh);

      display: flex;
      flex-direction: column;

      &-user {
        @include menu-link;

        &__name {
          @include overflow-text-width;

          font-size: 2vh;
        }
      }

      &-product {
        width: fit-content;
        margin-top: 0.5vh;

        @include menu-link;
        @include themify($themes){
          color: themed('mainColor');
        }
        font-size: 1.6vh;

        &__link {
          @include overflow-text-width;
          max-width: 75%;
        }

        &__amount {
          @include overflow-text-width;
          max-width: 25%;
        }
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    height: 100%;
    overflow: scroll;
    @include scrollbar;

    overflow-x: hidden;
    @include scrollbar;
    &-inner {
    }
  }

  &-send {
    @include set-size(100%, 9vh);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include themify($themes){
      background-color: themed('blockBackground');
    }

    &-inner {
      width: 100%;
    }

    &-form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &__msg {
        @include input;
        width: calc(100% - 17vh);

        margin-right: 2vh;
      }

      &__sbm {
        @include red-button(10vh, 4vh);

        @media screen and (max-width: $breakMobile) {
          @include red-button(12vh, 4vh);
        }
      }
    }
  }
}