<div class="chat-message">
    <div class="chat-message-inner">

        <div class="chat-message-head">
            <div class="chat-message-head-inner">
                <div class="chat-message-head-avatar">
                    <img src="{{img}}" alt="product" class="chat-message-head-avatar__img">
                </div>

                <div class="chat-message-head-info">
                    <span class="chat-message-head-info-name">{{name}}</span>

                    <div class="chat-message-head-info-product">
                        <a href="/product/86" class="chat-message-head-info-product__link">{{product}}</a>
                        <span>&nbsp;•&nbsp;</span>
                        <span class="chat-message-head-info-product__amount">{{amount}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-message-body">
            <div class="chat-message-body-inner" id="chat-message-content">

            </div>
        </div>

        <div class="chat-message-send">
            <div class="chat-message-send-inner">
                <form class="chat-message-send-form">
                    <input class="chat-message-send-form__msg" type="text" placeholder="Сообщение">
                    <input class="chat-message-send-form__sbm" type="submit">
                </form>
            </div>
        </div>

    </div>
</div>