
.footer {
    width: 80vw;
    margin: 0 auto;
    padding-top: 2vw;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 2vw;
}
.footer-hr {
    opacity: 0.2;
}

.footer-inner {
    margin-left: 1vh;
    display: flex;
    justify-content: space-between;

}

.footer__link {
    opacity: 0.5;
    text-decoration: underline;
}
.footer__corp{
    opacity: 0.5;
}


.footer__link:hover {
    cursor: pointer;
    color: #D31E1E;
}
