@import "../../scss/main.scss";

.footer {
  margin-bottom: 1vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  &-inner {
    margin: 0 10vw;

    @media screen and (max-width: $breakTablet) {
      margin: 0 5vw;
    }

    @media screen and (max-width: $breakMobile) {
      margin: 0;
    }
  }

  &-urls {
    &-inner {
      margin: 2vh 15vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: $breakDesktop) {
        margin: 2vh 7vh;
      }

      @media screen and (max-width: $breakTablet) {
        margin: 2vh 2vh;
      }
    }


    &-logo {
      @media screen and (max-width: $breakMobile) {
        display: none;
        position: absolute;
      }

      &__img {
        @include set-size(20vh, 11vh);
        @include themify($themes){
          content: themed('logoPath');
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: column;

      &__title {
        margin-bottom: 0.7vh;

        font-size: 2vh;

        @media screen and (max-width: $breakMobile) {
          font-size: 2.5vh;
        }
      }

      &__elem {
        @include menu-link;
        margin-top: 0.8vh;

        font-size: 1.3vh;

        color: #666666;

        @media screen and (max-width: $breakMobile) {
          font-size: 1.7vh;
        }
      }

      &__address {
        max-width: 30vh;
        @include overflow-text-width;

        @media screen and (max-width: $breakMobile) {
          max-width: 25vh;
        }
      }
    }
  }

  &-corp {
    &-inner {
      display: flex;
      flex-direction: row;

      margin: 0 2vh;

      font-size: 1.5vh;
    }
  }

  &__separator {
    @include separator;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}