<div class="footer" id="footer">
    <div class="footer-inner">

        <div class="separator"></div>

        <div class="footer-urls">
            <div class="footer-urls-inner">
                <div class="footer-urls-logo">
                    <img class="footer-urls-logo__img" id="footer-ykoya-logo" src="/img/svg/koya.svg" alt="logo">
                </div>

                <div class="footer-urls-container">
                    <span class="footer-urls-container__title">Покупателям</span>
                    <a class="footer-urls-container__elem" data-action="createProductClick">Разместить объявление</a>
                    <a class="footer-urls-container__elem footer-urls-container__address"
                       data-action="locationClick">{{address}}</a>
                    <a href="/search" class="footer-urls-container__elem">Поиск</a>

                </div>

                <div class="footer-urls-container">
                    <span class="footer-urls-container__title">Профиль</span>

                    {{#if isAuth}}
                        <a href="/user/profile" class="footer-urls-container__elem">Настройки</a>
                        <a href="/user/ad" class="footer-urls-container__elem">Мои объявления</a>
                        <a href="/user/chats" class="footer-urls-container__elem">Мои сообщения</a>
                        <a href="/user/favorite" class="footer-urls-container__elem">Избранное</a>
                    {{else}}
                        <a class="footer-urls-container__elem" data-action="authClick">Авторизация</a>
                        <a href="/signup" class="footer-urls-container__elem">Регистрация</a>
                    {{/if}}

                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="footer-corp">
            <div class="footer-corp-inner">
                <span>© 2021 YSNP</span>
            </div>
        </div>

    </div>
</div>