@import "../../../scss/main.scss";

.product-card {
  @include set-size(12vw, 20vw);
  @include product-block;

  position: relative;
  margin: 0.5vw;

  @media screen and (max-width: $breakDesktop) {
    @include set-size(18vw, 29vw);
    margin: 0.7vw;
  }

  @media screen and (max-width: $breakTablet) {
    @include set-size(24vw, 39vw);
    margin: 1vw;
  }

  @media screen and (max-width: $breakMobile) {
    @include set-size(43vw, 60vw);
    margin: 1.5vw;
  }

  &_vip {
    border: 2px solid;
    @include themify($themes){
      border-color: themed('mainColor');
    }
  }

  &-inner {
    @include set-size(100%, 100%);

    display: flex;
    flex-direction: column;
  }

  &__status {
    position: absolute;
    padding: 4px 10px;
    top: 0.5vw;
    right: 0.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1vw;
    border-radius: 7px;
    color: black;
    background-color: rgb(235, 235, 235);

    @media screen and (max-width: $breakDesktop) {
      top: 0.7vw;
      right: 0.7vw;

      font-size: 1.5vw;
    }

    @media screen and (max-width: $breakTablet) {
      top: 1vw;
      right: 1vw;

      font-size: 2vw;
    }

    @media screen and (max-width: $breakMobile) {
      top: 1.5vw;
      right: 1.5vw;

      font-size: 3.5vw;
    }
  }

  &__label {
    display: none;

    position: absolute;
    padding: 4px 10px;
    top: 0.5vw;
    left: 0.5vw;

    font-size: 1vw;
    border-radius: 7px;
    color: white;
    @include themify($themes){
     background-color: themed('mainColor');
    }

    @media screen and (max-width: $breakDesktop) {
      top: 0.7vw;
      left: 0.7vw;

      font-size: 1.5vw;
    }

    @media screen and (max-width: $breakTablet) {
      top: 1vw;
      left: 1vw;

      font-size: 2vw;
    }

    @media screen and (max-width: $breakMobile) {
      top: 1.5vw;
      left: 1.5vw;

      font-size: 3.5vw;
    }

    &_vip {
      display: block;
    }
  }

  &__like {
    @include set-size(1.5vw, 1.5vw);

    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    filter: drop-shadow(1px 0px 1px rgba(255, 255, 255, 1));

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: $breakDesktop) {
      @include set-size(2.5vw, 2.5vw);

      top: 0.7vw;
      right: 0.7vw;
    }

    @media screen and (max-width: $breakTablet) {
      @include set-size(3.5vw, 3.5vw);

      top: 1vw;
      right: 1vw;
    }

    @media screen and (max-width: $breakMobile) {
      @include set-size(7vw, 7vw);

      top: 1.5vw;
      right: 1.5vw;
    }

    &_liked {
      color: red;
    }
  }

  &__img {
    height: 60%;
    object-fit: cover;
  }

  &-info {
    @include set-size(100%, 40%);
    display: flex;

    &-inner {
      margin: 1vw;

      display: flex;
      flex-direction: column;

      @media screen and (max-width: $breakMobile) {
        margin: 2vw;
      }
    }

    &__name {
      width: 100%;
      margin-bottom: 0.2vw;

      font-size: 1vw;
      @include overflow-text-height(2.4vw);

      @media screen and (max-width: $breakDesktop) {
        margin-bottom: 0.5vw;

        font-size: 1.5vw;
        @include overflow-text-height(3.5vw);
      }

      @media screen and (max-width: $breakTablet) {
        margin-bottom: 1vw;

        font-size: 2vw;
        @include overflow-text-height(4.5vw);
      }

      @media screen and (max-width: $breakMobile) {
        font-size: 4vw;
        @include overflow-text-height(9.6vw);
      }
    }

    &__date {
      width: 100%;

      font-size: 0.7vw;
      color: rgb(142, 142, 142);

      @media screen and (max-width: $breakDesktop) {
        font-size: 1.1vw;
      }

      @media screen and (max-width: $breakTablet) {
        font-size: 1.4vw;
      }

      @media screen and (max-width: $breakMobile) {
        font-size: 2.5vw;
      }
    }

    &__amount {
      width: 100%;
      margin-top: auto;

      font-size: 1.5vw;
      @include overflow-text-width;

      @media screen and (max-width: $breakDesktop) {
        font-size: 2.3vw;
      }

      @media screen and (max-width: $breakTablet) {
        font-size: 3vw;
      }

      @media screen and (max-width: $breakMobile) {
        font-size: 4.5vw;
      }

      &_vip {
        max-width: 90%;
        width: fit-content;
        padding: 3px 7px;

        border-radius: 7px;
        color: white;
        @include themify($themes){
          background-color: themed('mainColor');
        }
      }
    }
  }
}