@import "../../scss/main.scss";

.switch {
  margin: 1vh 0;
  width: 100%;

  &-inner {

    &__title {
      font-size: 3vh;
    }

    &__text {
      font-size: 2vh;
      color: #666666;
      opacity: 0.7;
    }
  }

  &-buttons {
    margin-top: 1.5vh;

    height: 100%;
    width: 100%;

    &-inner {
      height: 4vh;

      display: flex;
      flex-direction: row;
      text-align: center;
    }

    &__button {
      margin-right: 2vh;
      padding: 0;

      font-size: 1.7vh;
      color: rgb(125, 125, 125);

      border: none;
      background: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &_selected {
        color: black;
        border-bottom: 2px solid;
        @include themify($themes){
          border-color: themed('linkColor');
        }
      }
    }
  }

  &-separator {
    @include separator;
  }
}