<div class="notification" id="{{notificationID}}" data-action="messageClick">
    <img src="/img/svg/cancel.svg" alt="close" class="notification__close" data-action="closeClick">
    <div class="notification-inner">
        <div class="notification-avatar">
            <img src="{{productImg}}" alt="product" class="notification-avatar__img">
        </div>

        <div class="notification-info">
            <div class="notification-info-title">
                <span class="notification-info-title__name">{{name}}</span>
            </div>
            <div class="notification-info-message">
                <span class="notification-info-message__last">{{message}}</span>
            </div>
        </div>
    </div>
</div>