@import "pages/styles/Authorization.css";
@import "pages/styles/Landing.css";
@import "pages/styles/Product.css";
@import "pages/styles/ProductCreate.css";
@import "pages/styles/Profile.css";
@import "pages/styles/Registration.css";
@import "components/Footer/Footer.css";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(245, 245, 245);
}