@import "pages/styles/Landing.css";
@import "pages/styles/Product.css";
@import "pages/styles/ProductCreate.css";
@import "pages/styles/Profile.css";
@import "pages/styles/Registration.css";

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.woff2);
    font-display: swap;
}

* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(245, 245, 245);
}