@import "../../../scss/main.scss";

.tariffs-block {
  width: 28%;
  flex-direction: column;
  justify-content: center;
  padding: calc(1.5vw + 2px);
  margin: 1vh 1vh 4vh;
  @include themify($themes){
    color: themed('textColorDefault');
  }
  @include border-block;

  @media screen and (max-width: $breakTablet) {
    width: 90%;
  }

  &_unchecked {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  &_checked {
    border: 3px solid rgba(211, 30, 30, 0.8) !important;
    padding: 1.5vw;
  }

  &-body {
    height: 64%;
  }

  &__title {
    font-size: 1.5vh;
    line-height: 2vh;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    margin-top: 2vh;

    @media screen and (max-width: $breakMobile) {
      font-size: 1.7vh;
    }
  }

  &__type {
    display: flex;
    justify-content: center;
    font-size: calc(1em + 1vw);
    line-height: 5vh;
    margin-bottom: 2vh;

    @media screen and (max-width: $breakMobile) {
      font-size: 2.8vh;
    }
  }

  &-description {
    font-size: 1.5vh;
    line-height: 2.5vh;

    @media screen and (max-width: $breakTablet) {
      padding: 0 10vw;
    }

    @media screen and (max-width: $breakMobile) {
      font-size: 1.6vh;
    }

    &__list {
      padding: 0;
      margin-left: 1.5vw;
    }

    &__item {
      margin-bottom: 1.5vh;
    }
  }

  &__price {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    line-height: 7vh;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;

    &_unchecked {
      @include white-button(15vh, 3.5vh);

      @media screen and (max-width: $breakMobile) {
        @include white-button(15vh, 4.5vh);
        font-size: 2vh;
      }
    }

    &_checked {
      @include red-button(15vh, 3.5vh);
      color: #ffffff !important;

      @media screen and (max-width: $breakMobile) {
        @include red-button(15vh, 4.5vh);
        font-size: 2vh;
      }
      &:hover {
        @include themify($themes){
          background-color: themed('mainColor');
        }
      }
    }
  }
}


