@import "ProductCard/ProductCard.css";

.product-list {
    width: 100vw;

    display: flex;
    flex-direction: row;

}

.product-list-inner {
    padding-left: 15vw;
    padding-right: 15vw;

    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}