@import "ProductCard/ProductCard.css";

.product-list {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.product-list-inner {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
}