.info-card {
    border: 1px solid rgba(0,0,0,0.1);
    display: block;
    position:-webkit-sticky;
    position:sticky;
    top: 20px;
    margin: 2vw 0 0 0.3vw;
    padding-bottom: 1vw;
}


.info-card__price {
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 42px;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.info-card-profile {
    display: flex;
    margin: 0 0 0 3vh;
}

.info-card__image{
    width: 4vw;
    height: 4vw;
    background: #C4C4C4;
    border-radius: 100%;
}

.info-card-container {
    display: block;
}

.info-card__name {
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    line-height: 28px;
    margin: 0 0 0 1vh;
}

.info-card-rating {
    line-height: 28px;
    margin: 1vh 0 0 1vh;
    display: flex;
    align-items: center;
}

.info-card-rating__text {
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    margin-right: 1vh;
}

.info-card-btn {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 16px;
}

.info-card-btn__massage {
    background: #D31E1E;
    border-radius: 0.5vh;
    border: none;
    width: 80%;
    height: 3vw;
    margin-top: 2vh;
    color: #FFFFFF;
    font-size: 1.5vh;
    cursor: pointer;
}

.info-card-btn__number {
    width: 80%;
    height: 3vw;
    margin-top: 1vh;
    color: black;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);;
    box-sizing: border-box;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    border-radius: 0.5vh;
    font-size: 1.6vh;
    cursor: pointer;
}

.info-card__time {
    text-align: center;
    margin-top: 4vw;
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    margin-bottom: 1vh;
}

.info-card-statistic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card-statistic-views {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card-statistic-views__text {
    margin-left: 1vh;
    font-size: 1.5vh;
}

.info-card-statistic-likes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
}

.info-card-statistic-likes__text{
    margin-left: 1vh;
    font-size: 1.5vh;
}