@import "../../../scss/main.scss";

.info-card {
  @include border-block;
  display: block;
  position: sticky;
  top: 10vh;
  margin: 2vw 0 0 0.3vw;
  padding-bottom: 1vw;
  font-style: normal;
  font-weight: normal;

  @media screen and (max-width: $breakMobile) {
    position: inherit;
    border: none;
  }

  &-mobile-separator {
    display: none;
    @include separator;
    @media screen and (max-width: $breakMobile) {
      margin: 2vh 0;
      display: flex;
    }
  }

  &__price {
    font-size: 2vw;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;

    @media screen and (max-width: $breakDesktop) {
      font-size: 3vh;
    }
    @media screen and (max-width: $breakMobile) {
      font-size: 3vh;
      text-align: left;
      margin-top: 0.8vh;
    }
  }

  &__product {
    display: none;
    @media screen and (max-width: $breakMobile) {
      display: inline;
      font-family: Roboto-Thin, sans-serif;
      font-size: 4vh;
      font-weight: 600;
    }
  }

  &-profile {
    display: flex;
    margin: 0 0 0 1vw;
    align-items: center;
    cursor: pointer;

    @media screen and (max-width: $breakMobile) {
      margin-top: 2vh;
    }
  }

  &__image {
    @include circle;
    @include set-size(4vw, 4vw);

    @media screen and (max-width: $breakDesktop) {
      @include set-size(6vh, 6vh);
    }
    @media screen and (max-width: $breakMobile) {
      @include set-size(7vh, 7vh);
    }
  }

  &-container {
    width: calc(100% - 8vh);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1vh;
  }

  &__name {
    font-size: 2.5vh;
    line-height: 3vh;
    @include overflow-text-width;
    @media screen and (max-width: $breakMobile) {
      font-size: 4vh;
      line-height: 5vh;
    }
  }

  &-rating {
    @include star;
    width: 15vh;

    margin-top: 1vh;

    display: flex;
    align-items: center;

    @media screen and (max-width: $breakMobile) {
      width: 19vh;
    }

    &__text {
      font-size: 2vh;
      margin-right: 0.5vh;

      @media screen and (max-width: $breakDesktop) {
        font-size: 1.5vh;
      }

      @media screen and (max-width: $breakMobile) {
        font-size: 2.5vh;
      }
    }

    &__rate span {
      @media screen and (max-width: 1400px) {
        font-size: 1.7vh;
      }

      @media screen and (max-width: $breakDesktop) {
        font-size: 1.5vh;
      }

      @media screen and (max-width: $breakMobile) {
        font-size: 2.5vh;
      }
    }
  }

  &-btn {
    flex-direction: column;
    align-items: center;
    display: flex;

    @media screen and (max-width: $breakMobile) {
      flex-direction: row;
      justify-content: center;
    }

    &__massage, &__change {
      @include red-button(80%, 4vh);
      margin-top: 2vh;

      @media screen and (max-width: $breakTablet) {
        width: 18vh;
      }
      @media screen and (max-width: $breakMobile) {
        @include set-size(23vh, 5vh);
        margin-right: 2vh;
      }
    }

    &__number, &__close, &__closed {
      @include white-button(80%, 4vh);
      margin-top: 1vh;
      box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);

      @media screen and (max-width: $breakTablet) {
        width: 18vh;
      }
      @media screen and (max-width: $breakMobile) {
        @include set-size(23vh, 5vh);
        margin-top: 2vh;
      }
    }

    &__closed {
      margin-top: 4vh;
    }
  }

  &-about {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $breakMobile) {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &__time {
    text-align: center;
    margin-top: 4vw;
    font-size: 1vw;
    margin-bottom: 1vh;

    @media screen and (max-width: $breakDesktop) {
      font-size: 1.5vh;
    }
    @media screen and (max-width: $breakMobile) {
      font-size: 2.3vh;
      margin: 0;
    }
  }

  &-statistic {
    display: flex;
    justify-content: center;
    align-items: center;

    &__svg {
      @include themify($themes){
        filter: themed('svgFilter');
      }
    }

    @media screen and (max-width: $breakMobile) {
      font-size: 2.5vh;
      margin-top: 0;
    }

    &-views {
      display: flex;
      align-items: center;

      &__text {
        margin-left: 1vh;
        font-size: 1vw;

        @media screen and (max-width: $breakDesktop) {
          font-size: 1.5vh;
        }
      }
    }

    &-likes {
      display: flex;
      align-items: center;
      margin-left: 1vh;

      &__text {
        margin-left: 1vh;
        font-size: 1vw;

        @media screen and (max-width: $breakDesktop) {
          font-size: 1.5vh;
        }
      }
    }
  }
}