@import "../../../scss/main.scss";

.empty-list {
  @include set-size(100%, 5vh);

  &-inner {
    @include set-size(100%, 100%);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 1.5vh;
    @include themify($themes) {
      color: themed('textGrayColor');
    }
  }
}