@import "../../../scss/main.scss";

.select-user {
  @include set-size(100vw, 100vh);
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 101;

  &-content {
    position: relative;
    width: 40vh;

    @include block;
    background-color: rgb(250, 250, 250);

    z-index: 102;

    @media screen and (max-width: $breakMobile) {
      @include set-size(100vw, 100vh);

      display: flex;
      justify-content: center;

      border-radius: 0;
    }

    &-inner {
      margin: 2vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: $breakMobile) {
        width: 80%;
      }

      &__close {
        @include set-size(2vh, 2vh);

        position: absolute;
        fill: rgb(120, 120, 120);

        top: 1vh;
        right: 1vh;

        &:hover {
          cursor: pointer;
        }

        @media screen and (max-width: $breakMobile) {
          top: 2vh;
          right: 2vh;

          @include set-size(3vh, 3vh);
        }
      }

      &__title {
        font-size: 2.5vh;

        @media screen and (max-width: $breakMobile) {
          font-size: 3vh;
        }
      }

      &__info {
        margin-top: 0.5vh;

        font-size: 1.5vh;
        color: $textGrayColor;

        @media screen and (max-width: $breakMobile) {
          font-size: 2vh;
        }
      }

      &-body {
        margin: 2vh 0;

        @include set-size(100%, 20vh);

        &-inner {
          @include set-size(100%, 100%);

          overflow: scroll;
          overflow-x: hidden;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      &__skip-button {
        @include red-button(100%, 4vh);
      }
    }
  }
}