<div class="select-user" id="select-user">
    <div class="select-user-content" id="select-user-content">
        <div class="select-user-content-inner">

            <img src="/img/svg/cancel.svg" alt="close" class="select-user-content-inner__close"
                 data-action="closeClick">

            <div class="select-user-content-inner__title">
                <span>Укажите покупателя</span>
            </div>

            <div class="select-user-content-inner__info">
                <span>Выберите покупателя из списка и оцените его</span>
            </div>


            <div class="select-user-content-inner-body">
                <div class="select-user-content-inner-body-inner" id="select-user-body">

                </div>
            </div>

            <button class="select-user-content-inner__skip-button"
                    data-action="skipClick">Пропустить
            </button>
        </div>
    </div>
</div>