@import "../../../scss/main.scss";

.settings-change-password {
    @include shadow-block;
    @include set-size(85vh, 32vh);
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.settings-change-password-inner {
    padding: 1vh 2.5vh;
}

.settings-passwords-inner {
    position: relative;
    width: 100%;
    margin-top: 0.6vh;
    margin-bottom: 2.1vh;
    justify-content: left;
    align-items: center;
    display: flex;
}
