.settings-change-password{
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    width:85vh;
    height: 30vh;

    margin-top: 2vh;
}
.settings-change-password-inner{
    padding: 1vh 2.5vh;
}
.settings-passwords-inner{
    position: relative;
    width: 100%;
    margin-top: 0.6vh;
    margin-bottom: 2.1vh;
    justify-content: left;
    align-items: center;
    display: flex;
}
/*.settings-password-error_hidden{*/
/*    visibility: hidden;*/
/*}*/
/*.settings-password-error_visible{*/
/*    visibility: visible;*/
/*    color: #D31E1E;*/
/*    font-size: 1.3vh;*/
/*}*/
.settings-password-error_success{
    visibility: visible;
    color: green;
    font-size: 1.3vh;
}