<div class="settings-change-password">
    <div class="settings-change-password-inner">
        <div class="settings-title">
            <span>Поменять пароль</span>
            <button id="settings-save-pass" class="settings-title__save_button" data-action="savePasswordClick">Сохранить пароль</button>
            <button id="settings-reset-pass" class="settings-title__reset_button" data-action="resetPasswordClick">Отменить изменения</button>
        </div>

        <div class="settings__separator"></div>
        <div class="settings-passwords-inner">
            <div class="settings-left-components">
                <span class="settings-components__title">Старый пароль</span>
                <span class="settings-components__title">Новый пароль</span>
                <span class="settings-components__title">Подвердите пароль</span>
            </div>
            <div class="settings-right-components">
                <div class="settings-input-inner" id="settings-password">
                    <input id="settings-old-pass" data-action="checkPasswd" required class="settings-components__input" type="password" data-move="showError" data-moveout="hideError">
                    <span class="settings-password-error_hidden" id="settings-password-error"></span>
                </div>
                <div class="settings-input-inner">
                    <input id="settings-new-pass" data-action="changePwd" required class="settings-components__input" type="password" data-move="showError" data-moveout="hideError">
                </div>
                <div class="settings-input-inner">
                    <input id="settings-confirm-pass" data-action="inputConfirmPwd" required class="settings-components__input" type="password" data-move="showError" data-moveout="hideError">
                </div>
            </div>
        </div>
    </div>