@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf)
}

.product-card {
    height: 37vh;
    width: 23vh;

    margin: 1vh 1vh 4vh;

    position: relative;

    border: 0;
    border-radius: 1vh;

    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 0 2px 4px 0;

    transition-duration: 0.5s;
    transition-property: box-shadow;
}

.product-card-inner {
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}

.product-card__like {
    position: absolute;
    top: 1vh;
    right: 1vh;
}

.product-card__like:hover {
    cursor: pointer;
}

.product-card__like_liked {
    color: red;
}

.product-card__img {
    height: 21vh;
    width: 100%;

    border-radius: 5px 5px 0 0;

    object-fit: cover;
}

.product-card-info {
    height: 16vh;
    width: 100%;

    display: flex;
    font-family: Roboto, serif;
}

.product-card-info-inner {
    width: 87%;
    margin: 1.5vh;

    display: flex;
    flex-direction: column;
}

.product-card-info__name {
    max-height: 5vh;
    width: 100%;
    margin-bottom: 0.7vh;

    font-size: 2vh;

    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card-info__date {
    font-size: 1.5vh;
    color: rgb(142, 142, 142);
}

.product-card-info__amount {
    width: 100%;
    font-size: 2.5vh;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-top: auto;
}