.product-table {
  width: 100%;

  display: flex;
  flex-direction: row;

  &-inner {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 576px) {
      justify-content: center;
    }
  }
}