<div class="product-table" id="product-table{{id}}">
    <div class="product-table-inner">
        {{#if title}}
            <span class="product-table__title">{{title}}</span>
        {{/if}}

        <div class="product-table-body" id="product-table-body{{id}}" data-sort="{{sortType}}"></div>

    </div>
</div>