@import "../../scss/style.scss";

.reviews {
  @include shadow-block;
  @include set-size(100%, 60vh);
  margin-bottom: 2vh;

  &-inner {
    display: flex;
    flex-direction: column;
  }

  &-head {
    display: flex;
    flex-direction: column;

    &__title {
      padding: 1vh 1.5vh;
      font-size: 2.5vh;
      color: $textColorDefault;
    }

    &-sort {
      margin: 0 1.5vh;
      font-size: 1.5vh;
      color: $textColorDefault;

      &__button {
        margin-left: 2vh;
        margin-right: 1vh;
        cursor: pointer;
      }

      &__label {
        cursor: pointer;
      }
    }

    &__separator {
      margin-top: 1vh;
      @include separator;
    }
  }

  &-body {
    overflow: scroll;
    overflow-x: hidden;
    height: 50vh;

    &-inner {

    }
  }
}