<div class="auth" id="auth">
    <div class="auth-content" id="auth-content">
        <div class="auth-content-inner">

            <img src="/img/svg/cancel.svg" alt="close" class="auth-content-inner__close" data-action="closeClick">

            <div class="auth-content-inner__title">
                <span>Вход</span>
            </div>
            <div class="auth-content-inner__error" id="auth-error">
                <span></span>
            </div>
            <form class="auth-content-form" id="auth-form">
                <div>
                    <input class="auth-content-form__input auth-content-form__country" readonly required value="+7">
                    <input class="auth-content-form__input auth-content-form__tel" id="auth-tel" type="tel"
                           placeholder="(999) 999 99 99" required>
                </div>
                <div>
                    <input class="auth-content-form__input auth-content-form__password" id="auth-password"
                           type="password" placeholder="Пароль" required>
                </div>
                <button class="auth-content-form__button" type="submit">Войти</button>
            </form>
            <div class="auth-content-form-registration">
                <span>Еще не зарегистрировались?</span>
                <a href="/signup" class="auth-content-form-registration__link">Создайте аккаунт.</a>
            </div>
        </div>
    </div>
</div>