.auth {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;

    display: flex;

    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.auth-content {
    position: relative;
    width: 50vh;
    z-index: 1;
}

.auth-content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-content-inner__error {
    height: 2.5vh;
    width: 30vh;
    text-align: center;
}

.auth-content-inner__close {
    position: absolute;

    fill: rgb(120, 120, 120);

    top: 1vh;
    right: 1vh;
}

.auth-content-inner__close:hover {
    cursor: pointer;
}

.auth-content-inner__title {
    margin: 4vh 0 2vh;
    font-size: 3vh;
}

.auth-content-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4vh;
}

.auth-content-form__country {
    height: 4vh;
    width: 4.4vh;
}

.auth-content-form__country:focus {
    outline: none;
}

.auth-content-form__tel {
    height: 4vh;
    width: 22vh;
}

.auth-content-form__password {
    height: 4vh;
    width: 26.8vh;
    margin: 1vh;
}
.auth-content-form__registration {
    font-size: 1.7vh;
    margin-bottom: 1vh;
}