@import "../../scss/main.scss";

.auth {
  @include popup(50vh);

  &-content {
    @media screen and (max-width: $breakMobile) {
      display: flex;
      justify-content: center;
    }

    &-inner {
      &__title {
        margin: 4vh 0 2vh;
        font-size: 3vh;

        @media screen and (max-width: $breakMobile) {
          margin: 0;

          font-size: 4vh;
        }
      }

      &__error {
        height: 2vh;
        width: 30vh;

        font-size: 1.5vh;
        text-align: center;

        font-style: italic;
        color: rgb(170, 0, 0);

        overflow: hidden;
      }
      &__close {
        @include set-size(2vh, 2vh);

        position: absolute;
        fill: rgb(120, 120, 120);
        @include themify($themes){
          filter: themed('svgFilter');
        }

        top: 1vh;
        right: 1vh;

        &:hover {
          cursor: pointer;
        }

        @media screen and (max-width: $breakMobile) {
          top: 2vh;
          right: 2vh;

          @include set-size(3vh, 3vh);
        }
      }
    }

    &-form {
      display: flex;
      align-items: center;
      flex-direction: column;

      margin-bottom: 2vh;

      &__input {
        margin: 1vh 0;
        padding-left: 1vh;
        @include input;
      }

      &__country {
        @include set-size(4.8vh, 4vh);

        &:focus {
          outline: none;
        }

        @media screen and (max-width: $breakMobile) {
          @include set-size(5.4vh, 5vh);
        }
      }

      &__tel {
        @include set-size(20vh, 4vh);

        @media screen and (max-width: $breakMobile) {
          @include set-size(20vh, 5vh);
        }
      }

      &__password {
        @include set-size(25.2vh, 4vh);

        @media screen and (max-width: $breakMobile) {
          @include set-size(26vh, 5vh);
        }
      }

      &__button {
        @include red-button(14vh, 4vh);
        margin-top: 1.5vh;

        @media screen and (max-width: $breakMobile) {
          @include red-button(14vh, 5vh);
        }
      }

      &-registration {
        font-size: 1.7vh;
        margin-bottom: 1vh;

        text-align: center;

        &__link {
          cursor: pointer;
          text-decoration: underline;
          @include themify($themes){
            color: themed('linkColor');
          }
        }
      }
    }

    &-text {
      width: 100%;

      margin-bottom: 2vh;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &__separator {
        width: 30%;
        @include separator;
        margin: 0;
      }

      &__or {
        margin: 0 3vh;
      }
    }

    &-vk {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 2vh;

      padding: 1vh 5vh;
      background-color: transparent;
      color: rgb(70, 128, 194);
      border-radius: 1vh;
      border: 1px solid rgb(70, 128, 194);

      &__logo {
        @include set-size(2.5vh, 2.5vh);
      }
    }
  }
}