<div class="auth" id="auth">
    <div class="auth-content" id="auth-content">
        <div class="auth-content-inner">

            <img src="/img/svg/cancel.svg" alt="close" class="auth-content-inner__close" data-action="closeClick">

            <div class="auth-content-inner__title">
                <span>Вход</span>
            </div>
            <div class="auth-content-inner__error" id="auth-error">
                <span></span>
            </div>
            <form class="auth-content-form" id="auth-form">
                <div>
                    <input class="auth-content-form__input auth-content-form__country" readonly required value="+7">
                    <input class="auth-content-form__input auth-content-form__tel" id="auth-tel" type="tel"
                           placeholder="(999) 999 99 99" required>
                </div>
                <div>
                    <input class="auth-content-form__input auth-content-form__password" id="auth-password"
                           type="password" placeholder="Пароль" required>
                </div>
                <button class="auth-content-form__button" type="submit">Войти</button>
            </form>

            <div class="auth-content-text">
                <div class="auth-content-text__separator"></div>
                <span class="auth-content-text__or">или</span>
                <div class="auth-content-text__separator"></div>
            </div>

            <a href="https://oauth.vk.com/authorize?client_id=7848246&display=page&redirect_uri=http://localhost:8080/api/v1/oauth/vk&response_type=code"
               data-action="vkClick" class="auth-content-vk">
                <img src="/img/svg/vk.svg" class="auth-content-vk__logo">
            </a>

            <div class="auth-content-form-registration">
                <span>Еще не зарегистрировались?</span>
                <a href="/signup" class="auth-content-form-registration__link"
                   data-action="regClick">Создайте аккаунт.</a>
            </div>
        </div>
    </div>
</div>