.profile-menu {
    width: 34vh;
    height: 35vh;
    display: flex;
    flex-direction: row;
    margin-right: 1vh;
}

.profile-menu-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    width: 100%;
    height: 100%;
    justify-content: left;
}

.profile-menu-user {
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
}

.profile-menu-user-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3vh;
}

.profile-menu-user__name, .profile-menu-user__rating {
    font-size: 2.5vh;
    margin-left: 1vw;
}

.profile-menu-content-item {
    height: 5vh;
    padding-left: 0.3vw;
    display: flex;
    align-items: center;
    font-size: 2vh;
    width: 100%;
}

.profile-menu__selected {
    color: #2e64f5;
}
