<div class="one-user" data-user-id="{{id}}">
    <div class="one-user-inner" data-action="oneUserClick">

        <div class="one-user-inner-info">
            <img src="{{userImg}}" alt="avatar" class="one-user-inner-info__avatar">

            <span class="one-user-inner-info__user">{{userName}}</span>
        </div>

        <img src="/img/svg/next.svg" alt="left" class="one-user-inner__select">

    </div>
</div>