<div class="layout" id="layout">
    <div class="layout-inner">
        {{#if_eq layoutCount 'two'}}

            <div class="layout-block">
                <div class="layout-left"></div>

                <div class="layout-right"></div>
            </div>

        {{/if_eq}}
    </div>
</div>
