@import "../../scss/main.scss";

.layout {
  @include set-size(100%, 100%);

  &__main {
    margin-top: 9vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-inner {
    margin: 0 15vw;

    @media screen and (max-width: 1400px) {
      margin: 0 10vw;
    }

    @media screen and (max-width: $breakDesktop) {
      margin: 0 10vw;
    }

    @media screen and (max-width: $breakTablet) {
      margin: 0 5vw;
    }

    @media screen and (max-width: $breakMobile) {
      margin: 0;
    }
  }

  &-block {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 3vh;

    @media screen and (max-width: $breakTablet) {
      flex-direction: column;
    }
  }

  &-left {
    @include set-size(30%, 100%);

    @media screen and (max-width: $breakTablet) {
      @include set-size(100%, 100%);
    }
  }

  &-right {
    @include set-size(70%, 100%);

    margin-left: 2vw;

    @media screen and (max-width: $breakTablet) {
      @include set-size(100%, 100%);

      margin-top: 2vh;
      margin-left: 0;
    }
  }
}
