.layout {
    height: 100%;
    width: 100%;

    &__main {
        margin-top: 9vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-inner {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    &-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3vh;
    }

    &-left {
        height: 100%;
    }

    &-right {
        height: 100%;
    }
}
