<div class="layout">
    {{#if two}}
        <div class="layout-columns">
            <div class="layout-column-left" id="layout-left-parent">

            </div>
            <div class="layout-column-right" id="layout-right-parent">

            </div>
        </div>
    {{else}}
        <div class="layout-inner" id="layout-parent">

        </div>
    {{/if}}
</div>