<div class="layout" id="layout-main-parent">
    {{#if two}}
        <div class="layout-columns">
            <div class="layout-column-left" id="layout-left-parent">

            </div>
            <div class="layout-column-right" id="layout-right-parent">

            </div>
        </div>
    {{else}}
        {{#if inner}}
            <div class="layout-inner" id="layout-parent">

            </div>
        {{/if}}
    {{/if}}
</div>