<div class="layout">
    <div class="layout-inner">

        {{#if_eq layoutCount 'two'}}

            <div class="layout-block">
                <div class="layout-left" style="width: {{leftWidth}}%"></div>

                <div class="layout-right" style="width: {{rightWidth}}%"></div>
            </div>

        {{/if_eq}}

    </div>
</div>
