.layout {
    height: 100%;
    width: 100%;
}

.layout-inner {
    margin-left: 15vw;
    margin-right: 15vw;
}

.layout-left {

}

.layout-left-inner {

}

.layout-right {

}

.layout-right-inner {

}