<div class="layout" id="layout">

    {{#if_eq layoutCount 'two'}}

        <div class="layout-block">
            <div class="layout-left"></div>

            <div class="layout-right"></div>
        </div>

    {{else}}

        <div class="layout-inner">
        </div>

    {{/if_eq}}

</div>
