<div class="layout">
    <div class="layout-inner" id="layout-parent">
        {{#if two}}
            <div class="layout-left">
                <div class="layout-left-inner" id="layout-left-parent">

                </div>
            </div>

            <div class="layout-right">
                <div class="layout-right-inner" id="layout-right-parent">

                </div>
            </div>
        {{/if}}
    </div>
</div>