@import "../../scss/main.scss";

.map {
  @include set-size(100vw, 100vh);

  position: fixed;
  top: 0;

  display: flex;

  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 101;

  &-content {
    width: 110vh;
    position: relative;
    z-index: 2;
    @include block;

    @media screen and (max-width: 1024px) {
      width: 90vw;
    }

    @media screen and (max-width: 576px) {
      @include set-size(100vw, 100vh);

      border-radius: 0;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-top {
    @include set-size(100%, 4vh);

    @media screen and (max-width: 576px) {
      @include set-size(100%, 7vh);
    }

    &__title {
      height: 100%;
      padding-left: 2vh;
      display: flex;
      align-items: center;

      font-size: 2vh;

      @media screen and (max-width: 576px) {
        padding: 0;
        justify-content: center;

        font-size: 2.5vh;
      }
    }

    &__close {
      @include set-size(2vh, 2vh);
      position: absolute;

      fill: rgb(120, 120, 120);

      top: 1vh;
      right: 1vh;

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: 576px) {
        top: 2vh;
        right: 2vh;

        @include set-size(3vh, 3vh);
      }
    }
  }

  &-middle {
    @include set-size(100%, 60vh);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1024px) {
      @include set-size(100%, 50vw);
    }

    @media screen and (max-width: 576px) {
      @include set-size(100%, 65vh);
    }
  }

  &-bottom {
    width: 100%;

    display: flex;
    flex-direction: row;

    @media screen and (max-width: 576px) {
      margin-top: 1vh;

      flex-direction: column;
      justify-content: center;
    }

    &-radius {
      margin-left: 2vh;

      display: flex;
      flex-direction: row;

      align-items: center;

      @media screen and (max-width: 576px) {
        margin: auto;

        justify-content: center;
      }
    }

    &-group {
      height: 2.5vh;

      display: flex;
      flex-direction: row;

      /*background-color: white;*/
      /*color: rgb(211, 30, 30);*/

      border: 1px solid rgb(177, 177, 177);
      border-radius: 5px;

      margin-right: 2vh;

      @media screen and (max-width: 576px) {
        margin: auto;
      }

      &__button {
        height: 100%;
        overflow: hidden;

        cursor: pointer;

        &:hover {
          color: $linkColor;
        }
      }
    }

    &__create {
      @include red-button(15vh, 4vh);
      margin: 1vh 2vh 1vh auto;
      border-radius: 0.5vh;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 576px) {
        margin-right: auto;

        @include red-button(95%, 5vh);
      }
    }
  }
}

.map-bottom-group div + div {
  border-left: 1px solid rgb(177, 177, 177);
}

.map-bottom-group__button input[type=radio] {
  display: none;
}

.map-bottom-group__button label {
  height: 100%;

  cursor: pointer;

  display: flex;
  align-items: center;

  font-size: 1.5vh;
  padding: 0 1vh;

  @media screen and (max-width: 576px) {
    font-size: 1.8vh;
  }
}

.map-bottom-group__button input[type=radio]:checked + label {
  /*color: rgb(112, 146, 254);*/
  color: rgb(180, 46, 46);

  /*color: white;*/
  /*background-color: rgb(211, 30, 30);*/
}
