<div class="map" id="map-popup">
    <div class="map-content" id="map-content">
        <div class="map-content-inner">

            <img src="/img/svg/cancel.svg" alt="close" class="map-content-inner__close" data-action="closeClick">

            <div class="map-top">
                <span class="map-top__title">Радиус поиска</span>
            </div>

            <div class="map-middle" id="ya-map">
                <span>
                    Какие-то проблемы с картой
                </span>
            </div>

            <div class="map-bottom">
                <div class="map-bottom-radius">
                    <div class="map-bottom-group" data-action="groupClick">
                        {{#each radius}}
                            <div class="map-bottom-group__button">
                                <input type="radio" id="{{id}}" name="radioGroup" value="{{value}}">
                                <label for="{{id}}">{{text}}</label>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <button class="map-bottom__create" data-action="createClick">Закрепить</button>
            </div>

        </div>
    </div>
</div>