<div class="search-block">
    <div class="search-filter-container">
        <h3>Фильтр</h3>
        <div class="search-filter-elem">
            <select id="category" class="reg-panel__textfield filter-bg">
                <option value="" selected>Все категории</option>
                {{#each categories}}
                    <option {{#if_eq ../optionCategory this.title}} selected {{/if_eq}}> {{this.title}} </option>
                {{/each}}
            </select>
        </div>
        <div class="search-filter-elem">
            <div class="search-filter__amount" id="amount">
                <input data-action="priceInput" class="search-filter__from-input filter-bg" id="fromAmount" type="text" placeholder="Цена от, ₽"/>
                <input data-action="priceInput" class="search-filter__to-input filter-bg"   id="toAmount" type="text" placeholder="до"/>
            </div>
        </div>
        <div class="search-filter-elem">
            <select id="date" class="reg-panel__textfield filter-bg">
                <option value="" disabled selected hidden>Срок размещения</option>
                <option {{#if_eq optionDate 'За 24 часа'}} selected {{/if_eq}}>За 24 часа</option>
                <option {{#if_eq optionDate 'За 7 дней'}} selected {{/if_eq}}>За 7 дней</option>
                <option {{#if_eq optionDate 'За все время'}} selected {{/if_eq}}>За все время</option>
            </select>
        </div>
        <div class="search-filter-elem">
            <input class="header-right__create-button reg__button remove-margin"
                   id="submitFilter"
                   data-action="submitFilter"
                   type="submit"
                   value="Применить"/>
        </div>
    </div>
    <div class="search-items-container">
        <div class="search-items-inner" id="search-panel">
            <div class="search-bar">
                <input type="text" id="search-field" class="search-block__search-field" placeholder="Введите товар для поиска..."/>
                <input class="header-right__create-button small-btn" type="submit"
                       id="search-submit" value="Поиск"
                       data-action="submitSearch"/>
            </div>
            <select id="sorting" data-action="changeSort" class="search__sort">
                <option value="" disabled selected hidden>Сортировать по</option>
                <option {{#if_eq optionSort 'По возрастанию цены'}} selected {{/if_eq}}>По возрастанию цены</option>
                <option {{#if_eq optionSort 'По убыванию цены'}} selected {{/if_eq}}>По убыванию цены</option>
                <option {{#if_eq optionSort 'По имени'}} selected {{/if_eq}}>По имени</option>
            </select>
            <hr class="hr-srch"/>
        </div>
        <div id="product-content" class="product-content"></div>
    </div>
</div>