.search-block {
    display: flex;
}

.search-filter-elem {
    margin-top: 1vw;
}

.search-filter__amount {
    display: flex;
    height: 2.5vw;
}

.search-filter__from-input {
    width: 8vw;
    border-radius: 0.5vh 0 0 0.5vh;
    font-size: 2vh;
    padding: 1vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.search-filter__to-input {
    width: 5.0vw;
    border-radius: 0 0.5vh 0.5vh 0;
    font-size: 2vh;
    padding: 1vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.remove-margin {
    margin: 0;
}

.filter-bg {
    background-color: rgb(245, 245, 245);
}

.search-block__search-field {
    width: 75%;
    height: 3.5vh;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    padding-left: 1vh;
}

.search__sort {
    width: 20%;
    background: rgba(0, 0, 0, 0.0);
    border: 0;
}

.search-items-inner{
    margin-left: 3vw;
    width: 55vw;
}

.small-btn {
    height: 3.8vh;
    width: 5vw;
    margin-left: 0.5vw;
    font-size: 1.5vh;
}

.search-bar {
    display: flex;
}

.hr-srch {
    opacity: 0.9;
    width: 90%;
    margin-left: 0;
    border-width: 0.1vh;
}
.product-content {
    margin-left: 2vw;
}
