.product-inner {
    margin-top: 3vw;
}

.product-des {
    display: flex;
}

.product-des-topic {
    min-width: 18%;
    margin-top: 1vh;
}

.product-des-inner {
    width: 75%;
}

.product-des__text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 3vh;
    color: #000000;
}

.product-des-topic__title {
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vh;
    line-height: 1vh;
    color: #000000;
    opacity: 0.5;
}

.hr-des {
    opacity: 0.2;
    width: 90%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}