.product-inner {
    margin-top: 3vw;
}

.product-des {
    display: flex;
}

.product-des-topic {
    min-width: 18%;
    margin-top: 1vh;
}

.product-des-inner {
    width: 75%;
}

.product-des__text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 3vh;
    color: #000000;
    margin-top: 1vh;
    margin-bottom: 1vh;
}