<div class="not-found">
    <div class="not-found-error">
        <div class="not-found-error__code">
            <span>{{code}}</span>
        </div>
        <div class="not-found-error__description">
            <span>{{description}}</span>
        </div>
    </div>

    <a href="/" class="not-found__main">Перейти на главную</a>
</div>