@import "../../../scss/main";

.header {
  height: 7vh;
  width: 100%;
  z-index: 100;
  top: 0;
  position: fixed;
  @include themify($themes) {
    background: themed('blockBackground');
  }
  display: flex;
  @include shadow-block;
  border-radius: 0;

  &-inner {
    height: 100%;
    width: 100%;

    padding-left: 10vw;
    padding-right: 10vw;

    display: flex;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    align-items: center;

    &__brand {
      margin-right: 1vw;
      cursor: pointer;

      &__img {
        @include themify($themes) {
          content: themed('logoPath');
        }
      }
    }

    &-location {
      border: 0;
      background: none;
      cursor: pointer;
      align-items: center;

      @include overflow-text-width;
      max-width: 25vw;

      &:focus {
        outline: none;
      }

      &__icon {
        height: 1vh;
        width: 1vh;
        @include themify($themes) {
          filter: themed('svgFilter');
        }
        margin-right: 0.4vh;
      }

      &__name {
        font-size: 1.5vh;
        @include themify($themes) {
          color: themed('textGrayColor');
        }

        &:hover {
          @include themify($themes) {
            color: themed('linkColor');
          }
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;

    &-avatar {
      display: flex;
      position: relative;

      &__img {
        @include set-size(4vh, 4vh);
        @include circle;
        cursor: pointer;
      }

      &-unread {
        position: absolute;
        top: 0;
        right: 0;

        height: 17px;
        width: 17px;
        border-radius: 50%;

        font-size: 1.2vh;
        font-weight: 300;

        color: white;
        @include themify($themes) {
          background: themed('mainColor');
        }

        display: none;
        align-items: center;
        justify-content: center;

        &_active {
          display: flex;
        }
      }
    }

    &__search-button {
      height: 2vh;
      width: 2vh;

      margin-right: 2vw;
      @include themify($themes) {
        filter: themed('svgFilter');
      }
      cursor: pointer;
    }

    &__create-button {
      margin-right: 2vw;
      @include red-button(20vh, 4vh);
    }

    &__account {
      height: 4vh;
      width: 4vh;

      border: 0;
      background: none;
      @include themify($themes) {
        filter: themed('svgFilter');
      }
      cursor: pointer;

      display: flex;
      align-items: center;
    }
  }

  &-dropdown {
    float: right;

    position: relative;
    display: inline-block;

    &-content {
      width: 20vh;
      margin-top: 2.5vh;
      @include block;
      border: 1px solid;
      @include themify($themes) {
        border-color: themed('borderColor');
      }
      @include themify($themes) {
        background-color: themed('dropdownColor');
      }
      border-radius: 3px;

      right: 0;
      position: absolute;
      z-index: 1;

      &-inner {
        margin: 2vh;
      }

      &_hidden {
        display: none;
      }

      &-item {
        margin: 1.3vh 0;
        padding: 0;

        display: flex;
        align-items: center;
        border: none;
        background: none;

        @include menu-link;

        &:focus {
          outline: none;
        }
      }

      &__user {
        margin: 1.3vh 0;

        display: block;
        @include themify($themes) {
          color: themed('textColorDefault');
        }
        font-size: 1.7vh;

        @include overflow-text-width;
      }

      &__separator {
        @include separator;
      }

      &__logo {
        @include set-size(2vh, 2vh);

        margin-right: 1vh;
        @include themify($themes) {
          filter: themed('svgFilter');
        }
      }
    }
  }
}

.theme-box {
  position: fixed;
  bottom: 2vh;
  left: 2vh;
  cursor: pointer;
  @include set-size(4vh, 4vh);
  @include circle;
  @include shadow-block;

  &-inner {
    padding: 1vh;
  }

  &__img {
    @include set-size(2vh, 2vh);
    @include themify($themes) {
      content: themed('themeIcon');
    }
  }

}