<div class="close-product" id="close-product">
    <div class="close-product-content" id="close-product-content">
        <div class="close-product-content-inner">

            <img src="/img/svg/cancel.svg" alt="close" class="close-product-content-inner__close"
                 data-action="closeClick">

            <div class="close-product-content-inner__title">
                <span>Снять с продажи</span>
            </div>

            <div class="close-product-content-inner__info">
                <span>Выберите причину</span>
            </div>

            <div class="close-product-content-inner-button">
                <button class="close-product-content-inner-button__sell"
                        data-action="sellProductClick">Я продал на KOYA
                </button>
                <button class="close-product-content-inner-button__close"
                        data-action="closeProductClick">Закрыть объявление
                </button>
            </div>
        </div>
    </div>
</div>