<div class="donut">
    <span class="donut__title">
        Поздравляю, ты нашел пасхалочку
    </span>
    <pre id="d" class="donut__donut" onclick="anim1()">
       <canvas id="canvasdonut">
       </canvas>
    </pre>
</div>