@import "../../../scss/main.scss";

.empty-search {
  width: 100%;

  &-inner {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $breakMobile) {
      margin: 0 2vh;
    }

    &__text {
      font-size: 2vh;
      @include themify($themes){
        color: themed('textGrayColor');
      }
      opacity: 0.7;
    }
  }
}