<div class="empty-search">
    <div class="empty-search-inner">

        <span class="empty-search-inner__text">Нет объявлений по такому запросу, попробуйте изменить радиус поиска</span>

    </div>
</div>