@import "../../../../scss/main.scss";

.owner-message {
  width: 100%;

  &-inner {
    padding: 1vh;
  }

  &-block {
    width: fit-content;
    word-break: break-all;
    max-width: 60%;

    margin-bottom: 0.5vh;

    background-color: #E5E5E5;
    border-radius: 2vh;

    &-inner {
      padding: 1vh;
    }

    &__text {
      font-size: 1.5vh;
      color: #000000;
    }
  }

  &__date {
    font-size: 1.2vh;
    font-weight: 400;
    @include themify($themes){
      color: themed('textGrayColor');
    }
  }
}