<div class="owner-message" data-message-id="{{messageID}}">
    <div class="owner-message-inner">

        <div class="owner-message-block">
            <div class="owner-message-block-inner">
                <span class="owner-message-block__text">{{text}}</span>
            </div>
        </div>

        <div class="owner-message__date">
            <time>{{time}}</time>
        </div>

    </div>
</div>