<div class="reg-des">
    <div class="reg-des-topic ">
        <p class="reg-des-topic__title">{{this.title}}</p>
    </div>
    <div class="reg-form-inner">
        <div class="photo-container" id="productPhoto">
            <div class="form-row" id="_profile-pic0">
                <label class="form-row__photolabel" data-action="clickUpload" data-move="showCross"
                       data-moveout="hideCross" data-id="0">
                    <img class="product__pic" data-id='0' id="product__pic0" src="../../img/svg/transparent.svg"
                         alt="">
                    <div class="cross error-hidden" id="delete0" data-id='0' data-action="delete"></div>
                </label>
            </div>
        </div>
    </div>
</div>
