@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf)
}

.profile-right-part {
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, serif;
}

.settings-user-data{
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    width: 45vw;
    height: 53vh;
}
.settings_data_save_button{
    width: 10vw;
    height: 4vh;
    background: #D31E1E;
    border: 0;
    border-radius: 3px;
    margin-left: 18vw;
    color: white;
    text-decoration: none;
    font-size: 1.5vh;
    text-align: center;
    visibility: hidden;
}

.settings_data_save_button:hover{
    background-color: rgb(219, 34, 34);
    cursor: pointer;
}

.settings-data-title{
    font-size: 2vh;
    color: #000000;
    width: 45vw;
    height: 6vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.settings-data-edit{
    margin-left: 1vw;
    cursor: pointer;
}

.settings-data-edit:hover svg path{
    fill: black;
    opacity: 1;
}

.settings-right__separator{
    width: 44vw;
    margin-bottom: 1vh;
    border-top: 1px solid rgb(227, 227, 227);
}

.settings-data-components{
    margin-bottom: 1vh;
    width: 44vw;
    height: 41vh;
    display: flex;
    flex-direction: row;
}

.settings-data-right-components{
    width: 15vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.settings-data-left-components{
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.settings-data-component-title{
    width: 14vw;
    height: 4.8vh;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2vh;
    color: black;
    opacity: 0.7;
}

.settings-data-input{
    padding: 0;
    width: 25vw;
    background: none;
    border: 0;
    margin-bottom: 1vh;
    height: 3.8vh;
    font-size: 2vh;
    color: black;
}

select:disabled{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=date]::-ms-clear {
    display: none;
}
input[type=date]::-ms-reveal {
    display: none;
}
.settings-data-input:read-only {
    outline: 0;
    outline-offset: 0;
    padding: 0;
    border-bottom: none !important;
}

.settings-data-input:focus, .settings-data-input{
    outline: 0;
    outline-offset: 0;
    border-bottom: 1px solid #900000;
}
.settings-photo-label{
    visibility: hidden;
}
.settings-data-add-account{
    width: 44vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
}
.settings-data-icon svg{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    margin-right: 1vw;
    margin-top: 0.4vh;
}

.settings-data-icon:hover svg path{
    fill-opacity: 0.6;
    cursor: pointer;
}
