.settings {
    width: 85vh;
    height: 103vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
}

.settings-inner{
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 1vh 2.5vh;
    height: 100%;
}
.settings-title{
     font-size: 2.5vh;
     color: #000000;
     width: 100%;
     height: 8vh;
     display: flex;
     align-items: center;
 }
.settings-title__edit{
    margin-left: 1vw;
    cursor: pointer;
}

.settings-title__edit:hover svg path{
    fill: black;
    opacity: 1;
}

.settings-title__save_button{
    width: 17vh;
    height: 4vh;
    background: #D31E1E;
    border: 0;
    border-radius: 3px;
    margin-left: calc(100% - 40vh);
    color: white;
    text-decoration: none;
    font-size: 1.5vh;
    text-align: center;
    visibility: hidden;
}

.settings-title__reset_button{
    width: 17vh;
    height: 4vh;
    background: #747474;
    border: 0;
    border-radius: 3px;
    margin-left: calc(100% - 120vh);
    color: white;
    text-decoration: none;
    font-size: 1.5vh;
    text-align: center;
    visibility: hidden;
}

.settings-title__save_button:hover{
    background-color: rgb(219, 34, 34);
    cursor: pointer;
}

.settings__separator{
    margin-bottom: 1vh;
    border-top: 1px solid rgb(227, 227, 227);
}

.settings-components{
    margin-bottom: 1vh;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: normal;
}

.settings-left-components{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.settings-components__title{
    height: 6vh;
    display: flex;
    align-items: center;
    font-size: 2vh;
    margin-bottom: 1vh;
    color: #000000;
    opacity: 0.5;
 }
.settings-right-components{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.settings-input-inner{
    position: relative;
    width: 61vh;
    height: 6vh;
    margin-top: 0.7vh;
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.settings-components__input{
    background: none;
    height: 3.8vh;
    font-size: 2vh;
    color: black;
    width: 43%;
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    border-radius: 0.5vh;

    padding-left: 10px;
}
.settings-components__input:read-only {
    outline: 0;
    outline-offset: 0;
    border: none;
    padding-left: 10px;
}
.settings-photo-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.settings-avatar{
    position: relative;
    transform: translate(5%, 0);
}

.settings-avatar-upload__button{
    cursor: pointer;
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(7vw, 7vw);
    visibility: hidden;
}
select:disabled{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.settings-photo-label{
    visibility: hidden;
}
.settings-avatar-inner{
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    width: 9vw;
    height: 9vw;
    border: 1px solid rgba(0,0,0,0.1);
}
.settings-avatar__pic{
    display: block;
    object-fit: cover;
    width: 9vw;
    height: 9vw;
}
.settings-avatar-upload{
    top: 167px;
    right: 30px;
    color: #666666;
    opacity: 0.5;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.settings-components__input-success{
    border: 1px solid green;
}
.settings-components__input-error{
    border: 1px solid red;
}
.error-hidden {
    display: none;
}
.list-errors {
    font-size: 1.8vh;
    color: #D31E1E;
}

.settings-message-container {
    clear: both;
    position: absolute;
    top: 0;
    left: 27vh;
}

.message__arrow {
    width: 12px;
    height: 20px;
    overflow: hidden;
    position: relative;
    float: left;
    top: 6px;
    right: -1px;
}

.message-outer {
    width: 0;
    height: 0;
    border-right: 20px solid #000000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
}

.message-inner {
    width: 0;
    height: 0;
    border-right: 20px solid #ffffff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: 2px;
}

.message-body {
    float: left;
    width: 300px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid rgba(0.0,0.0,0.0, 0.1);
    padding: 6px 8px;
    border-radius: 5px;
}

.settings-change-password{
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;

    width:85vh;
    height: 30vh;

    margin-top: 2vh;
}
.settings-change-password-inner{
    padding: 1vh 2.5vh;
}
.settings-passwords-inner{
    position: relative;
    width: 100%;
    margin-top: 0.6vh;
    margin-bottom: 2.1vh;
    justify-content: left;
    align-items: center;
    display: flex;
}
.settings-error_hidden, .settings-password-error_hidden{
    visibility: hidden;
}
.settings-error_visible, .settings-password-error_visible{
    visibility: visible;
    color: #D31E1E;
    font-size: 1.3vh;
}
.settings-password-error_success{
    visibility: visible;
    color: green;
    font-size: 1.3vh;
}
/*.settings-add-account{*/
/*    width: 44vw;*/
/*    height: 6vh;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/
/*.settings-add-account__icon svg{*/
/*    width: 2vw;*/
/*    height: 2vw;*/
/*    cursor: pointer;*/
/*    margin-right: 1vw;*/
/*    margin-top: 0.4vh;*/
/*}*/
/*.settings-add-account__icon:hover svg path{*/
/*    fill-opacity: 0.6;*/
/*    cursor: pointer;*/
/*}*/

/*.settings-main-settings {*/
/*    background: white;*/
/*    border-radius: 3px;*/
/*    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding-left: 1vw;*/

/*    width: 45vw;*/
/*    height: 20vh;*/

/*    margin-top: 2vh;*/
/*}*/
/*.settings-main-settings__item{*/
/*    width: 43.8vw;*/
/*    height: 5vh;*/
/*    padding-left: 0.3vw;*/
/*    display: flex;*/
/*    justify-content: left;*/
/*    align-items: center;*/
/*    color: #000000;*/
/*    opacity: 0.7;*/
/*    font-size: 2vh;*/
/*    text-decoration: none;*/
/*}*/
/*.settings-main-settings__item:hover{*/
/*    background: #EEEEEE;*/
/*    cursor: pointer;*/
/*    color: black;*/
/*    opacity: 1;*/
/*}*/