<div class="user-message" data-message-id="{{messageID}}">
    <div class="user-message-inner">

        <div class="user-message-block">
            <div class="user-message-block-inner">
                <span class="user-message-block__text">{{text}}</span>
            </div>
        </div>

        <div class="user-message__date">
            <time>{{time}}</time>
        </div>

    </div>
</div>