<div class="board">
    <div class="board-title">
        <p class="reg-panel-title__product-name">Создание объявления</p>
    </div>
    <div class="auth-content-inner__error reg-error" id="create-error">
        <span></span>
    </div>
    <form method="post" id="createProductForm" name="create" enctype="multipart/form-data">
        <div id="files">
            <input id="file-upload0" name="photos" data-id="0" data-action="readURL" class="file-upload" type="file"
                   accept="image/jpeg,image/png"/>
        </div>
        <div id="ProductForm">

        </div>
        <div class="map-product" id="ya-map-create-product">
                <span>
                    Какие-то проблемы с картой
                </span>
        </div>
        <div class="product-create">
            <div class="product-create-topic"></div>
            <div class="product-create-submit" id="submitBtn">
                <input class="reg__button" data-action="submitClick" type="submit"
                       id="submitProduct" value="Продолжить"/>
            </div>
        </div>
    </form>
</div>