

.product-create {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-left: 15vw;
    margin-right: 15vw;

}

.product-create-inner {
    margin: 4vh;
    font-family: Roboto;
}

.form-row{
    display: flex;
    align-items: center;
    line-height: 16px;
    margin-bottom: 3vh;
    margin-top: 3vh;
    color: #000000;
    opacity: 0.7;

}

.product-create-inner__title{
    margin-top: 0vh;
    margin-bottom: 5vh;
    font-weight: normal;
    font-size: 2.6vh;
    line-height: 28px;

    color: #000000;
}

.form-row__label{
    width: 22vw;
    font-size: 1.8vh;

}

.form-row__input{
    background: #FFFFFF;
    opacity: 0.6;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 30vw;
    width:20vw;
    height: 4vh;
    font-size: 2vh;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-left: 0.7vh;
    padding-right: 0.7vh;
}

.form-row__textarea{
    opacity: 0.6;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    width: 30vw;
    height: 20vh;
    font-size: 1.5vh;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-left: 0.7vh;
    padding-right: 0.7vh;
    resize: none;
}

.form-row__photolabel{
    opacity: 0.6;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1vh;
    min-height: 15vh;
    max-height: 15vh;
    min-width: 15vh;
    max-width: 15vh;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: url("/img/photo.svg") center no-repeat;
    margin-right: 15vh;
}

.form-row__photoinput{
    visibility: hidden;
}

.inner-button{
    margin-left: 22vw;
    margin-top: 5vh;
}

.inner-button__button{
    background-color: #D31E1E;
    border-color: transparent;
    color: #FFFFFF;
    font-size: 1.5vh;
    min-height: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    border-width: 1px;
    border-radius: 3px;
    font-family: Roboto;
}