.header {
    height: 7vh;
    width: 100%;

    z-index: 1;
    top: 0;
    position: fixed;

    display: flex;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);
}

.header-inner {
    height: 100%;
    width: 100%;

    padding-left: 10vw;
    padding-right: 10vw;

    display: flex;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left__brand {
    margin-right: 1vw;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.header-left-location {
    border: 0;
    background: none;

    cursor: pointer;

    display: flex;
    align-items: center;
}

.header-left-location:focus {
    outline: none;
}

.header-left-location__icon {
    height: 1vh;
    width: 1vh;

    margin-right: 0.4vh;
}

.header-left-location__name {
    font-size: 1.5vh;
    color: rgb(71, 71, 71);
}

.header-left-location__name:hover {
    color: rgb(112, 146, 254);
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right__create-button {
    height: 4vh;
    width: 20vh;

    margin-right: 2vw;

    border: 0;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(211, 30, 30);
}

.header-right__create-button:hover {
    background-color: rgb(219, 34, 34);
    cursor: pointer;
}

.header-right__create-button:focus {
    outline: none;
}

.header-right__account {
    height: 4vh;
    width: 4vh;

    border: 0;
    background: none;

    cursor: pointer;

    display: flex;
    align-items: center;
}

.header-right__dropdown {
    height: 4vh;
    width: 4vh;

    cursor: pointer;

    border-radius: 50%;
    object-fit: cover;
}

.header-dropdown {
    float: right;

    position: relative;
    display: inline-block;
}

.header-dropdown-content {
    width: 20vh;

    margin-top: 2.5vh;

    background-color: white;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 3px;

    right: 0;
    position: absolute;
    z-index: 1;
}

.header-dropdown-content-inner {
    margin: 2vh;
}

.header-dropdown-content_hidden {
    display: none;
}

.header-dropdown-content-item {
    margin: 1.3vh 0;

    display: flex;
    align-items: center;

    cursor: pointer;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);

    font-size: 1.5vh;
}

.header-dropdown-content-item:hover {
    color: rgb(112, 146, 254);
}

.header-dropdown-content__user {
    margin: 1.3vh 0;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.8);

    font-size: 1.7vh;
}

.header-dropdown-content__separator {
    border-top: 1px solid rgb(227, 227, 227);
}

.header-dropdown-content__logo {
    margin-right: 1vh;
}

.header-left__brand__donut{
    margin-top: 1vh;
}