@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf)
}

.header {
    height: 7vh;
    width: 100vw;

    display: flex;
}

.header-inner {
    height: 100%;
    width: 100%;

    padding-left: 10vw;
    padding-right: 10vw;

    display: flex;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left__brand {
    margin-right: 1vw;
}

.header-left__location {
    border: 0;
    background-color: rgb(255, 255, 255);;
}

.header-left__location:hover {
    cursor: pointer;
}

.header-left__location:focus {
    outline: none;
}

.header-left__location-name {
    font-size: 1.5vh;
    font-family: Roboto, serif;
    color: rgb(71, 71, 71);
}

.header-left__location-name:hover {
    color: rgb(117, 148, 247);
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right__create-button {
    height: 4vh;
    width: 10vw;

    margin-right: 1vw;

    border: 0;
    border-radius: 3px;

    font-family: Roboto, serif;
    color: rgb(255, 255, 255);
    background-color: rgb(211, 30, 30);
}

.header-right__create-button:hover {
    background-color: rgb(219, 34, 34);
    cursor: pointer;
}

.header-right__create-button:focus {
    outline: none;
}

.header-right__account {
    border: 0;
    background-color: rgb(255, 255, 255);;
}

.header-right__account:hover {
    cursor: pointer;
}

.header-right__account:focus {
    outline: none;
}
