.header {
    height: 7vh;
    width: 100vw;

    display: flex;
}

.header-inner {
    height: 100%;
    width: 100%;

    padding-left: 10vw;
    padding-right: 10vw;

    display: flex;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);
}

.header-inner-left {
    display: flex;
    align-items: center;
}

.header-inner-left__brand {
    margin-right: 1vw;
    font-size: 3.5vh;

    color: rgb(125, 125, 125);
}

.header-inner-left-location:hover {
    color: aqua;
    cursor: pointer;
}

.header-inner-left-location__img {
    height: 1.3vh;
    width: 1.3vw;
}

.header-inner-left-location__name {
    font-size: 2vh;
}

.header-inner-right {
    display: flex;
    align-items: center;
}

.header-inner-right__createButton {
    height: 4vh;
    width: 10vw;

    margin-right: 1vw;

    border: 0;
    border-radius: 3px;

    color: rgb(255, 255, 255);
    background-color: rgb(211, 30, 30);
}

.header-inner-right__account {
    height: 4vh;
    width: 4vw;
}
