.header {
    height: 7vh;
    width: 100%;
    border-radius: 0;
    display: flex;
}

.header-inner {
    height: 100%;
    width: 100%;

    padding-left: 10vw;
    padding-right: 10vw;

    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left__brand {
    margin-right: 1vw;
}

.header-left-location {
    border: 0;
    background: none;

    display: flex;
    align-items: center;
}

.header-left-location:hover {
    cursor: pointer;
}

.header-left-location:focus {
    outline: none;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right__create-button {
    height: 4vh;
    width: 20vh;
    margin-right: 2vw;
}

.header-right__account {
    border: 0;
    background: none;

    display: flex;
    align-items: center;
}

.header-right__account:hover {
    cursor: pointer;
}

.header-right__account:focus {
    outline: none;
}

.header-dropdown {
    height: 4vh;
    width: 4vh;

    float: right;

    position: relative;
    display: inline-block;
}

.header-dropdown-content {
    width: 20vh;

    margin-top: 0.2vh;

    background-color: white;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 3px;

    right: 0;
    position: absolute;
    z-index: 1;
}

.header-dropdown-content-inner {
    margin: 2vh;
}

.header-dropdown-content_hidden {
    display: none;
}

.header-dropdown-content-item {
    margin: 1.3vh 0;
    display: flex;
    align-items: center;
}

.header-dropdown-content__user {
    margin: 1.3vh 0;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.8);

    font-size: 1.7vh;
}

.header-dropdown-content__logo {
    margin-right: 1vh;
}