<div class="board">
    <div class="board-title">
        <p class="reg-panel-title__product-name">Регистрация</p>

        <div class="auth-content-inner__error reg-error" id="reg-error">
            <span></span>
        </div>
    </div>

    <form id="registration-from" class="reg-form" enctype="multipart/form-data">
        <input id="file-upload" name="file-upload" data-action="readURL" class="file-upload" type="file"
               accept="image/jpeg,image/png"/>
        <div id="registrationForm"></div>
        <div class="reg-des">
            <div class="reg-des-topic-button">

            </div>
            <div class="form-inner" id="submitBtn">
                <input class="reg__button" data-action="clickRegistration" type="submit"
                       id="register" value="Зарегистрироваться"/>
            </div>
        </div>

    </form>
</div>