.reg-panel__textfield {
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    border-radius: 0.5vh;

    font-size: 1.8vh;
    height: 2.5vw;
    width: 15.5vw;
    padding-left: 10px;
}



.reg-panel--title__product-name {
    font-size: 3vh;
    margin: 0;
    line-height: 42px;
}

.reg-panel--title {
    margin-bottom: 1vw;
}

.list-errors {
    padding-left: 1.8vh;
    font-size: 1.8vh;
    color: #D31E1E;
}


.reg__button {
    font-size: 1vw;
    transform: translate(25%, 0);
}

.form-spacing {
    margin: 2vh;
}