.slider-inner__button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1vh;
}

#carousel-wrapper {
    position: relative;
    overflow: hidden;
}
#carousel {
    position: absolute;
    visibility: hidden;
}

.slider {
    display: flex;
    margin-top: 2vw;
}

.preview {
    padding-left: 2vw;
    padding-right: 2vw;
}

.preview-picture{
    margin-top: 0px;
    width: 49vw;
    height: 52vh;
    object-fit: cover;
}

.slider-inner__button-next {
    margin-top: 2vh;
}

.slider-inner__button-disabled {
    pointer-events: none;
    cursor: default;
}

.picture-frame img{
    object-fit: cover;
}