<div class="slider">
    <div class="slider-inner" id="sliderPanel">
        <div class="slider__button" data-action="nextClick">
            <a class="slider__button-prev" id="prev">
                <svg width="2vw" height="2vw" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 10.5L10 1.5L19 10.5" stroke="black"/>
                </svg>
            </a>
        </div>
        <div class="slider-carousel" id="carousel">
            {{#each photos}}
                <img src="{{this}}" alt="" data-action="selectClick">
            {{/each}}
        </div>
        <div class="slider__button" data-action="backClick">
            <a class="slider__button-next" id="next">
                <svg width="2vw" height="2vw" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L10.5 11L20 1" stroke="black"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="slider-preview">
        <img class="slider-preview__picture" id="pic" src="{{firstPhoto}}" alt="">
    </div>
</div>